<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{msg.thymeleaf.pagelabel.forgotpasstitle}">Forgot Password</title>
<link rel="icon" th:href="@{/images/GOM.png}" type="image/png"
	sizes="16x16">
<style>
.border.border-secondary.rounded.p-3 p {
    margin: 0;
    width: 100% !important;
        max-width: 100%;
}
.changepass {
    padding:10px 30px;
}
border.border-secondary.rounded.p-3.resetBox {
    padding: 26px !IMPORTANT;
    border: none !important;
}
.resetBox {
    border: none !IMPORTANT;
    box-shadow: 0px 0px 7px 2px #ccc;
    padding: 36px !IMPORTANT;
}
</style>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="custom-login">

		
	<div class="page_Height container min-height-600">
		<h3 Class="PageHeading">
			<span th:utext="#{msg.thymeleaf.pagelabel.fp}"></span>
			<hr />
		</h3>

		<div th:if="${error != null}">
			<p class="text-danger">[[${error}]]</p>
		</div>
		<div th:if="${message != null}">
			<p class="text-warning">[[${message}]]</p>
		</div>


		<fieldset class="container">
			<form th:action="@{/forgotPassword}" method="post" th:object="${orgUserMst}"
				style="max-width: 480px; margin: 0 auto;">
				
					 <input type="hidden"
		name="appRootPath" id="appRootPath"
		th:value="${#servletContext.contextPath}" />
				
				<div class="border border-secondary rounded p-3 resetBox">
					<div class="text-center">
						<p>We will be sending a reset password link to your email.</p><br/>
					</div>
					<div>
						<p>
							<input type="email" name="emailId" th:field="*{emailId}"  id="emailId" class="form-control"
								placeholder="Enter your e-mail" required autofocus />
						</p>
						<br/>
						<p class="text-center">
							<input type="button" id="sendEmail" value="Send" class="btn changepass" />
						</p>
					</div>
				</div>
				 <div id="responseMessage"></div>
			</form>
		</fieldset>
	</div>
	<div class="container" th:replace="header/footer :: varfooter"></div>
	<script th:src="@{/js/forgot-password.js}"></script>
</body>
</html>