<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{msg.thymeleaf.pageheading.addPosts}"></title>
<style type="text/css">
table.table.bor-0 td:first-child, table.table.bor-0 td:nth-child(3) {
	padding-left: 50px;
}
</style>
</head>
<body class="add-posts">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>
	<div class="container min-height-600">
		<div class="breadcrumbMain">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#"><span
							th:utext="#{msg.thymeleaf.pagelabel.masterBD}"></span></a></li>
					<li class="breadcrumb-item active" aria-current="page"><span
						th:utext="#{msg.thymeleaf.pageheading.addPosts}"></span></li>
				</ol>
			</nav>
		</div>
		<h3 class="PageHeading">
			<span th:utext="#{msg.thymeleaf.pageheading.addPosts}"></span>
		</h3>

		<div class="formMainwithNoborTb container">

			<form method="post"
				th:action="@{${levelRoleVal == 6 ? '/mdp/savePostEntry' : '/ddo/savePostEntryAlt'}}"
				id="postEntryModel" name="postEntryModel"
				th:object="${postEntryModel}" enctype="multipart/form-data">


				<fieldset class="tabstyle">
					<legend>
						<b>Filter Institute</b>
					</legend>
					<table class="table bor-0 width-70">
						<tbody>
							<tr>
								<td width="20%" align="left">District</td>
								<td width="20%" align="left"><select name="districtId"
									class="form-control" th:field="*{districtId}" id="districtId">
										<option th:value="0"
											th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
										<option th:each="varPay : ${lstDistrict}"
											th:value="${varPay.districtId} "
											th:text="${language=='mh' ? varPay.districtName : varPay.districtName}"></option>
								</select></td>
							</tr>
						<!-- 	<tr>
								<td colspan="4"><input id="btnFilter" class="buttontag"
									type="button" value="Filter" name="btnFilter"></td>
							</tr> -->
						</tbody>
					</table>
				</fieldset>

				<fieldset>
					<legend>Post Details</legend>
				</fieldset>
				<div id="tcontent1">
					<table class="table bor-0"  id="tableData">
						<tbody>
							<tr>
								<td width="20%"><b>Leve 1 DDO Code</b></td>
								<td width="25%"><select th:field="*{ddoCode}" id="ddoCode"
									class="selecttag mandatorycontrol">
										<option value="-1">Select</option>
										<option th:value=${ddo[0]} th:each="ddo:${DDOlist}"
											th:text="${ddo[1]} + ' (' + ${ddo[0]} + ')'"></option>
										<!-- Populate options if necessary -->
								</select> <label class="mandatoryindicator">*</label></td>


								<td><label class="captionTag" id="SelectTypePost">Select
										Type Of Post</label> &nbsp;</td>
								<td><select th:field="*{postTypeCmbBox}"
									id="postTypeCmbBox" class="selecttag mandatorycontrol">
										<option value="-1">Select</option>
										<option th:value="10001198130" th:text="Temporary"></option>
										<option th:value="10001198129" th:text="Permanent"></option>
										<option th:value="10001198155" th:text="Statutory"></option>
								</select> <label class="mandatoryindicator">*</label></td>

								<!-- 	<td width="20%" ><b>Sub Field Department</b></td>
								<td width="25%"><select th:field="*{cmbSubFieldDept}"
									id="cmbSubFieldDept">
										<option value="-1">Select</option>
										<option th:each="subOffice : ${subOfficeList}"
											th:value="${subOffice[0]}" th:text="${subOffice[1]}"></option>
								</select> <label class="mandatoryindicator">*</label></td> -->
							</tr>
							<tr>

								<td class="fieldLabel"><b><label class="captionTag"
										id="admin.designation">Designation</label></b></td>
								<td class="fieldLabel"><select th:field="*{designationCmb}"
									id="designationCmb" class="selecttag mandatorycontrol">
										<option value="-1">Select</option>
										<!-- <option th:each="desi : ${Designation}"
											th:value="${desi.desginationId}"
											th:text="${desi.desgination}"> -->
											<!-- Populate options if necessary -->
								</select> <label class="mandatoryindicator">*</label></td>
							</tr>

							<tr>


								<td class="fieldLabel"><b><label class="captionTag"
										id="admin.GrNO">GR No</label></b></td>
								<td class="fieldLabel"><select th:field="*{orderCmb}"
									id="orderCmb" style="width: 250px"
									class="selecttag mandatorycontrol">
										<option value="-1">Select</option>
										<option th:each="order : ${orderList}"
											th:value="${order.orderId}" th:text="${order.orderName}"></option>
								</select> <label class="mandatoryindicator">*</label></td>


								<td class="fieldLabel"><b><label class="captionTag"
										id="admin.GrDate">GR Date</label></b></td>
								<td class="fieldLabel"><input type="date"
									th:field="*{orderDate}" size="10" id="OrderDate">
									&nbsp;</td>
							</tr>
							<tr>


								<td class="fieldLabel"><b><label class="captionTag"
										id="admin.Office">Office</label></b></td>
								<td class="fieldLabel"><select th:field="*{officeCmb}"
									id="officeCmb" class="selecttag mandatorycontrol">
										<option value="-1">Select</option>
										<option th:each="office : ${officeList}"
											th:value="${office.dcpsDdoOfficeIdPk}"
											th:text="${office.dcpsDdoOfficeName}"></option>
								</select> <label class="mandatoryindicator">*</label></td>
							</tr>
							<tr>
								<td class="fieldLabel"><b><label class="captionTag"
										id="admin.SancFromDt">Sanctioned From Date</label></b></td>
								<td class="fieldLabel"><input type="date"
									th:max="${#dates.format(new java.util.Date(), 'yyyy-MM-dd')}"
									th:field="*{startDate}" size="10" id="startDate">
									&nbsp;<label class="mandatoryindicator">*</label></td>
								<td class="fieldLabel"><b><label class="captionTag"
										id="admin.postNumber">Number of Post</label></b></td>
								<td class="fieldLabel"><input type="text"
									th:field="*{postNumber}" class="numbertag mandatorycontrol"
									id="postNumber" value="1">&nbsp;&nbsp;<label
									class="mandatoryindicator">*</label></td>
							</tr>
							<tr class="sanDateDiv" style="display: none;">
								<td class="fieldLabel" id="endDate1"><b><label
										class="captionTag" id="admin.SancToDt">Sanctioned To
											Date</label></b></td>
								<td class="fieldLabel"><input type="date"
									th:field="*{endDate}" size="10" id="sanDate"> &nbsp; <label
									class="mandatoryindicator">*</label></td>
							</tr>
							<tr>
								<td class="fieldLabel"><b><label class="captionTag"
										id="eis.Remarks">Remarks</label></b></td>
								<td class="fieldLabel"><textarea th:field="*{remarks}"
										id="Remarks" class="textareatag" cols="30" rows="3"></textarea></td>
							</tr>
						</tbody>
					</table>
					<br>
					<div class="text-center">
						<input type="submit" id="formSubmitButton" value="Save"
							class="buttontag"> <input type="button" id="backButton"
							value="Close" class="buttontag" onclick="history.back()">
						<input type="reset" id="resetButton" value="Reset"
							class="buttontag">
					</div>
				</div>
			</form>
		</div>
	</div>

	<div th:replace="header/menuHeader :: varmenufooter"></div>
	<script th:src="@{/js/hte/entry-post.js}"></script>
	<script th:src="@{/js/jquery.validate.min.js}"></script>
</body>
</html>