<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{msg.thymeleaf.pageheading.employeeConfigurationapp}"></title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi">
	
</script>

<style type="text/css">
input[type="Date"] {
	border-radius: 20px;
	text-align: center;
	padding-left: 20px;
	border-color: green;
}
</style>
</head>
<body>



	<div class="panel-body1" th:fragment="EmployeeDetails">
		<table class="table table-bordered ">
			<tr>
				<td width="25%">
					<div>
						<label><span
							th:utext="#{msg.thymeleaf.pagelabel.sevaarthId}"></span>&nbsp;&nbsp;<b><font
								color="red" size="4px;">*</font></b></label>
					</div>
				</td>
				<td width="25%">
					<div>
						<input Type="text" size="40%" disabled="disabled" id="sevaarthId"
							name="sevaarthId" style="text-transform: uppercase"
							th:field="*{sevaarthId}" class="form-control" />
					</div>
				</td>
				<td colspan="2"></td>
			</tr>

		</table>

		<table class="table table-bordered ">
			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.UIDNO}"></span> <sub><span
							th:utext="#{msg.thymeleaf.pagelabel.either}"></span></sub> &nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="25%"><input type="text" size="4" model="uidNo1"
					th:field="*{uidNo1}" id="uid1" maxlength="4"
					onblur="uidvalidenumber(this);" disabled="disabled"
					class="input-style" /> <input type="text" size="4" maxlength="4"
					model="uidNo2" id="uid2" th:field="*{uidNo2}"
					onblur="uidvalidenumber(this);" disabled="disabled"
					class="input-style" /> <input type="text" id="uid3" size="4"
					model="uidNo3" name="uidNo3" th:field="*{uidNo3}" maxlength="4"
					onblur="uidvalidenumber(this);validateUIDUniqe();"
					disabled="disabled" class="input-style" /></td>

				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.EIDNO}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><input Type="text" size="40%" model="eidNo"
					th:field="*{eidNo}" id="eidNo" disabled="disabled"
					class="form-control" /></td>
			</tr>
			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.salutation}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="25%"><select disabled="disabled"
					class="form-control" id="salutation" name="salutation"
					th:field="*{salutation}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varCommon : ${lstCommonMstSalutation}"
							th:value="${varCommon.lookupId}"
							th:text="${language=='mh' ? varCommon.lookupName : varCommon.lookupName}"></option>
				</select></td>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.fName}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><input Type="text" size="40%" maxlength="99"
					id="fName" style="text-transform: uppercase"
					th:field="*{employeeFNameEn}"
					onkeypress="return onlyAlphabets(event,this);" disabled="disabled"
					class="form-control" /></td>
			</tr>
			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.mName}"></span>&nbsp;&nbsp;<!-- <b><font
													color="red" size="4px;">*</font></b> --></label></td>
				<td width="25%"><input type="text" size="40%" maxlength="99"
					style="text-transform: uppercase"
					onkeypress="return onlyAlphabets(event,this);" id="mName"
					th:field="*{employeeMNameEn}" disabled="disabled"
					class="form-control" /></td>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.lName}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><input Type="text" size="40%" maxlength="99"
					onkeypress="return onlyAlphabets(event,this);" id="lName"
					style="text-transform: uppercase" th:field="*{employeeLNameEn}"
					disabled="disabled" class="form-control" /></td>
			</tr>
			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.fullname}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="25%"><input Type="text" size="40%" id="fullName"
					th:field="*{employeeFullNameEn}" disabled="disabled"
					class="form-control" /></td>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.fullnamedevnagri}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><input Type="text" size="40%"
					id="fullNameInDevnagri" th:field="*{employeeFullNameMr}"
					disabled="disabled" class="form-control" /></td>
			</tr>
			<tr>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.gender}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><input Type="radio" size="2" id="gender"
					name="gender" ng-model="gender" th:field="*{gender}" th:value="M" />
					<label><span th:utext="#{msg.thymeleaf.pagelabel.male}"></span></label>
					<input Type="radio" value="Female" id="gender" name="gender"
					ng-model="gender" th:field="*{gender}" th:value="F" /> <label><span
						th:utext="#{msg.thymeleaf.pagelabel.female}"></span></label> <input
					Type="radio" value="Transgender" id="gender" name="gender"
					ng-model="gender" th:field="*{gender}" th:value="T" /> <label><span
						th:utext="#{msg.thymeleaf.pagelabel.transgender}"></span></label></td>

				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.religion}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><select disabled="disabled"
					class="form-control" id="religion" name="religion"
					th:field="*{religionCode}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varCommon : ${mstReligionLst}"
							th:value="${varCommon.religionId}"
							th:text="${language=='mh' ?  varCommon.religionNameMarathi:varCommon.religionNameEnglish}"></option>
				</select></td>
			</tr>
			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.married}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="25%"><input Type="radio" size="2" id="married"
					disabled="disabled" onchange="checkGender();" name="married"
					ng-model="married" th:field="*{maritalStatus}" th:value="Y" /> <label><span
						th:utext="#{msg.thymeleaf.pagelabel.whetherMinisterialYes}"></span></label>
					<input Type="radio" value="Female" id="married" disabled="disabled"
					onchange="checkGender();" name="married" checked="checked"
					ng-model="married" th:field="*{maritalStatus}" th:value="N" /> <label><span
						th:utext="#{msg.thymeleaf.pagelabel.whetherMinisterialNo}"></span></label>
				</td>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.fatherhusbandname}"></span>&nbsp;&nbsp;<!-- <b><font
													color="red" size="4px;">*</font></b> --> </label></td>
				<td width="30%"><input Type="text" size="40%" id="fatherName"
					ng-model="fatherOrHusbandName" th:field="*{employeeMNameMr}"
					disabled="disabled" class="form-control" /></td>
			</tr>
			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.DOB}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="25%"><input type="date" size="40%" ng-model="dob"
					onBlur="getAge();" ng-change="getDob();" disabled="disabled"
					id="dob" th:field="*{dob}" class="input-style" /></td>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.servicejoindate}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><input Type="date"
					ng-model="serviceJoiningDate" onBlur="getDOJ();"
					disabled="disabled" id="serviceJod" th:field="*{doj}"
					class="input-style" /></td>
			</tr>
			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.currentaddress}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b> </label></td>
				<td width="25%"><textarea id="addressBuilding"
						onblur="Validatealphanumaric(this);"
						style="text-transform: uppercase" th:field="*{address1}"
						class="form-control"></textarea></td>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.permanentaddresssameornot}"></span>&nbsp;&nbsp;</label></td>
				<td width="30%"><input type="checkbox" id="sameOrNot"
					name="sameOrNot" /></td>
			</tr>
			<tr class="permanentaddresssameornotmain">
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.permanentaddress}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><textarea onblur="Validatealphanumaric(this);"
						id="addressStreet" style="text-transform: uppercase;"
						th:field="*{address2}" class="form-control"></textarea></td>

				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.pincode}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><input type="text" size="40%" maxlength="6"
					name="pinCode" id="pinCode" onblur="pincodevalide(this)"
					th:field="*{pinCode}" class="form-control number" /></td>
			</tr>


			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.state}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b> </label></td>
				<td width="25%"><select disabled="disabled"
					class="form-control" id="stateCode" name="stateCode"
					th:field="*{stateCode}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varCommon : ${lstAllState}"
							th:value="${varCommon.stateCode}"
							th:text="${varCommon.stateNameEn}"></option>
				</select></td>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.district}"></span>
						&nbsp;&nbsp;<b><font color="red" size="4px;">*</font></b> </label></td>
				<td width="25%"><select class="form-control" id="districtCode"
					name="districtCode" th:field="*{districtCode}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varCommon : ${lstAllDistrict}"
							th:value="${varCommon.districtId}"
							th:text="${varCommon.districtName}"></option>
				</select></td>
			</tr>

			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.physicallyhandicap}"></span>
						&nbsp;&nbsp;<b><font color="red" size="4px;">*</font></b> </label></td>
				<td width="25%"><input Type="radio" size="2"
					disabled="disabled" id="physicallyHandicapped"
					th:field="*{physicallyHandicapped}" th:value="Y" /> <label>
						<span th:utext="#{msg.thymeleaf.pagelabel.whetherMinisterialYes}"></span>
				</label> <input Type="radio" id="physicallyHandicapped" disabled="disabled"
					name="physicallyHandicapped" th:field="*{physicallyHandicapped}"
					th:value="N" /> <label><span
						th:utext="#{msg.thymeleaf.pagelabel.whetherMinisterialNo}"></span></label>
				</td>

				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.mobileno}"></span>
						&nbsp;&nbsp;<b><font color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><input type="number" size="40%" id="mobileNo1"
					onblur="phonenumber(this);" maxlength="10" th:field="*{mobileNo1}"
					disabled="disabled" class="form-control" /></td>
			</tr>
			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.email}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b> </label></td>
				<td width="25%"><input type="email" size="40%" id="email"
					name="email" th:field="*{emailId}" onblur="ValidateEmail(this);"
					disabled="disabled" class="form-control" /></td>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.panno}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><input Type="text" size="40%" id="panNo"
					onblur="ValidatePancard();" style="text-transform: uppercase"
					name="panNo" th:field="*{panNo}" disabled="disabled"
					class="form-control" /></td>
			</tr>

			<tr>
				<td width="15%"><label>Qualification&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><select class="form-control" id="qid"
					th:field="*{qualification}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varPay : ${lstQualification}"
							th:value="${varPay.qId}"
							th:text="${language=='mh' ? varPay.qualification : varPay.qualification}"></option>
				</select></td>
				<td width="25%"><label>Secondary Qualification
						&nbsp;&nbsp;<b><font color="red" size="4px;">*</font></b>
				</label></td>
				<td width="25%"><select class="form-control"
					id="secqualification" name="secqualification"
					th:field="*{secqualification}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varPay : ${lstQualification}"
							th:value="${varPay.qualification}"
							th:text="${language=='mh' ? varPay.qualification : varPay.qualification}"></option>
				</select></td>
			</tr>
			
			<tr>

				<td width="15%"><label>More Qualification<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><input type="text" size="40%"
					id="morequalification" name="morequalification"
					style="text-transform: uppercase" th:field="*{morequalification}"
					class="form-control " /></td>
			</tr>

		</table>
	</div>



	<div class="panel-body2" th:fragment="DepartmentDetails">
		<table class="table table-bordered">

			<tr>
				<td width="15%" colspan="1"><label>Parent field
						department / HOD </label>&nbsp;&nbsp;<b><font color="red" size="4px;">*</font></b></td>
				<td width="30%"><select class="form-control"
					id="parentFieldDepartmentId" disabled="disabled"
					th:field="*{parentFieldDepartmentId}">
						<!-- 												<option selected="selected" th:value="0" -->
						<!-- 													th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option> -->
						<option th:each="varFieldOfficeMst : ${lstAdminOfficeMst}"
							th:value="${varFieldOfficeMst.subDepartmentId}"
							th:text="${language=='mh' ? varFieldOfficeMst.subDeptName : varFieldOfficeMst.subDeptName}"></option>
				</select></td>

			</tr>

			<tr>
				<td width="25%"><label>Cadre&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b>
				</label></td>

				<td width="25%"><select disabled="disabled"
					class="form-control" ng-change="getCadre();" id="cadre"
					ng-model="cadreValue" th:field="*{cadreId}">
						<option selected="selected" th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varCadreGrp : ${lstCadreMst}"
							th:value="${varCadreGrp.cadreId}"
							th:text="${language=='mh' ? varCadreGrp.cadreDescription : varCadreGrp.cadreDescription}"></option>
				</select></td>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.group}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><select disabled="disabled"
					class="form-control" id="empClass" readonly th:field="*{empClass}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varGISGroup : ${lstGISGroup}"
							th:value="${varGISGroup.id}"
							th:text="${language=='mh' ? varGISGroup.group_name_mh : varGISGroup.group_name_en}"></option>
				</select></td>
			</tr>
			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.superannutationage}"></span>
						&nbsp;&nbsp;<b><font color="red" size="4px;">*</font></b> </label></td>
				<td width="25%"><input Type="text" size="40%"
					disabled="disabled" id="superannuationage"
					th:field="*{superannuationage}" class="form-control" /></td>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.superannuationretiringage}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><input Type="date" size="40%" id="superAnnDate"
					disabled="disabled" ng-model="superAnnDate"
					th:field="*{superAnnDate}" class="input-style" /></td>
			</tr>
			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.paycommission}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b> </label></td>
				<td width="25%"><select disabled="disabled"
					class="form-control" id="payCommision"
					th:field="*{payCommissionCode}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varPay : ${lstddcPayCommission}"
							th:value="${varPay.id}"
							th:text="${language=='mh' ? varPay.commission_name_mh : varPay.commission_name_en}"></option>
				</select></td>

				<td width="15%"><label>Appointment&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><select class="form-control" id="appointmentId"
					th:field="*{appointmentId}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varPay : ${lstAppointment}"
							th:value="${varPay.appointmentId}"
							th:text="${language=='mh' ? varPay.appointmentId : varPay.appointmentName}"></option>
				</select></td>

			</tr>
			<tr>

				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.designation}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><select disabled="disabled"
					class="form-control" id="designation" th:field="*{designationId}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varPay : ${lstDesignation}"
							th:value="${varPay.desginationId}"
							th:text="${language=='mh' ? varPay.desginationId : varPay.desgination}"></option>
				</select></td>

			</tr>
			<tr>

				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.payscalelevel}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b> </label></td>
				<td width="25%"><select disabled="disabled"
					class="form-control" id="payscalelevel"
					th:field="*{payscalelevelId}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varPay : ${lstpayscalelevel}"
							th:value="${varPay[4]}" th:text="${varPay[3]}"></option>
				</select></td>


				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.svnthpaybasic}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><select disabled="disabled"
					class="form-control" id="svnthpaybasic" th:field="*{svnthpaybasic}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varPay : ${lstsvnbasicpay}"
							th:value="${varPay[0]}" th:text="${varPay[1]}"></option>
				</select></td>
			</tr>
			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.payscale}" id="payscaleLevels"></span>
						&nbsp;&nbsp;<b><font color="red" size="4px;">*</font></b> </label></td>
				<td width="25%"><select disabled="disabled"
					class="form-control" id="payScale" th:field="*{payScaleId}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varPay : ${lstsixpayscalelevel}"
							th:value="${varPay[4]}" th:text="${varPay[3]}"></option>
				</select></td>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.payInPayBand}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><input Type="text" size="40%" id="payInPayBand"
					th:field="*{payInPayBand}" disabled="disabled" class="form-control" /></td>
			</tr>
			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.gradePay}" id="payscaleLevels"></span>
						&nbsp;&nbsp;<b><font color="red" size="4px;">*</font></b> </label></td>
				<td width="25%"><input Type="text" size="40%" id="gradePay"
					th:field="*{gradePay}" disabled="disabled" class="form-control" /></td>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.basicpay}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><input Type="text" size="40%" id="basicPay"
					th:field="*{basicPay}" disabled="disabled" class="form-control"
					readonly /></td>
			</tr>
			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.hraBasic}"></span>
						&nbsp;&nbsp;</label></td>
				<td width="25%"><input type="text" size="40%"
					ng-model="hraBasic" id="hraBasic" name="hraBasic"
					class="form-control" th:field="*{hraBasic}" /></td>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabelcurrentpost}"></span>
						&nbsp;&nbsp;<b><font color="red" size="4px;">*</font></b> </label></td>
				<td width="25%"><select class="form-control"
					disabled="disabled" id="postdetailid" th:field="*{postdetailid}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varPay : ${lstCurrentPost}"
							th:value="${varPay[0]}" th:text="${varPay[1]}"></option>
				</select></td>
			</tr>

			<tr>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.currentdept}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><select class="form-control"
					disabled="disabled" id="adminDepartmentId"
					th:field="*{adminDepartmentId}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varPay : ${lstCurntDepartment}"
							th:value="${varPay.departmentId}" th:text="${varPay.deptName}"></option>
				</select></td>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.nameofpostdesg}"></span>
						&nbsp;&nbsp;</label></td>
				<td width="25%"><input Type="text" size="40%"
					id="nameOfPostDesg" th:field="*{departmentNameEn}"
					disabled="disabled" class="form-control" /></td>
			</tr>

			<tr>

				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.dtinitialappointmentparentinst}"></span>&nbsp;&nbsp;</label></td>
				<td width="30%"><input Type="date" size="40%"
					id="dtInitialAppointmentParentInst"
					th:field="*{dtInitialAppointmentParentInst}" disabled="disabled"
					class="form-control" /></td>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.institutionAdd}"></span>
						&nbsp;&nbsp;</label></td>
				<td width="25%"><input Type="text" size="40%"
					disabled="disabled" id="instituteAdd" ng-model="instituteAdd"
					th:field="*{instituteAdd}" class="form-control" /></td>
			</tr>
			<tr>

				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.mobile}"></span>&nbsp;&nbsp;</label></td>
				<td width="30%"><input Type="text" size="40%" id="mobile"
					ng-model="mobile" th:field="*{mobileNo2}" disabled="disabled"
					class="form-control" /></td>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.InstEmailId}"></span>
						&nbsp;&nbsp;</label></td>
				<td width="25%"><input Type="email" size="40%"
					disabled="disabled" id="instEmailId" ng-model="instEmailId"
					th:field="*{instemail}" class="form-control" /></td>


			</tr>
			<tr>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.cityClass}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><input Type="text" size="40%" id="cityClass"
					ng-model="cityClass" th:field="*{cityClass}" disabled="disabled"
					class="form-control" /></td>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.dtofJoinCurrentPost}"></span>
						&nbsp;&nbsp;</label></td>
				<td width="25%"><input Type="date" size="40%"
					ng-model="dtJoinCurrentPost" id="dtJoinCurrentPost"
					th:field="*{dtJoinCurrentPost}" disabled="disabled"
					class="form-control" /></td>
			</tr>
			<tr>

				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.Remark}"></span>&nbsp;&nbsp;</label></td>
				<td width="30%"><input Type="text" size="40%"
					disabled="disabled" ng-model="remark" id="remark"
					th:field="*{remark}" class="form-control" /></td>


				<td width="15%"><label>Type of Teaching<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><input type="radio" size="2" id="Teaching"
					name="Teaching" ng-model="Teaching" th:field="*{Teaching}"
					th:value="Teaching" /> <label>Teaching</label> <input type="radio"
					id="Teaching" name="Teaching" ng-model="Teaching"
					th:field="*{Teaching}" th:value="NonTeaching" /> <label>Non
						Teaching</label></td>


			</tr>
			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.indiApproOrdNo}"></span>
						&nbsp;&nbsp;</label></td>
				<td width="25%"><input Type="text" size="40%"
					ng-model="indiApproveOrderNo" id="indiApproveOrderNo"
					th:field="*{indiApproveOrderNo}" disabled="disabled"
					class="form-control" /></td>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.indiApproDt}"></span>&nbsp;&nbsp;</label></td>
				<td width="30%"><input Type="date" size="40%"
					ng-model="indiApproDt" id="indiApproDt" disabled="disabled"
					class="form-control" /></td>
			</tr>

		</table>
	</div>


	<div class="panel-body3" th:fragment="BankDetails">

		<table class="table table-bordered">

			<b><span th:utext="#{msg.thymeleaf.pagelabel.bankdetails}"></span></b>

			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.bankname}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="25%"><select disabled="disabled"
					class="form-control" th:field="*{bankId}" id="bankId">
						<option selected="selected" th:value="0" disabled="disabled"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varAllBankList : ${lstAllBankList}"
							th:value="${varAllBankList.bankId}"
							th:text="${language=='mh' ? varAllBankList.bankName : varAllBankList.bankName}"></option>
				</select></td>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.branchname}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><select class="form-control"
					disabled="disabled" id="bankBranchId" th:field="*{bankBranchId}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varAllBankbranchList : ${lstAllBankBranchList}"
							th:value="${varAllBankbranchList[0]}"
							th:text="${language=='mh' ? varAllBankbranchList[1] : varAllBankbranchList[1]}"></option>
				</select>
				</td>
			</tr>
			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.bankaccountno}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="25%"><input Type="text" size="40%" minlength="9"
					maxlength="18" disabled="disabled" id="bankAccountNo"
					onblur="bankaccountvalidenumber(this);" th:field="*{bankAcntNo}"
					class="form-control" /></td>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.ifsccode}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><input Type="text" size="40%"
					disabled="disabled" ng-model="ifscCode" id="ifscCode"
					th:field="*{ifscCode}" class="form-control" /></td>
			</tr>
		</table>
		<table class="table table-bordered">
			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.dcps}"></span> &nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%">
				<input Type="radio" id="dcpsY"
					onchange="checkDcpcGpf();" disabled="disabled" name="dcps"
					checked="checked" th:field="*{dcpsgpfflag}"   th:value="Y"     th:checked="${mstEmployeeModel.dcpsgpfflag == 'Y'?'checked':''}" /> <label>Yes</label>
					<input Type="radio" id="dcpsN" name="dcps"
					onchange="checkDcpcGpf();" disabled="disabled"  th:checked="${mstEmployeeModel.dcpsgpfflag == 'N'}"  
					th:value="N" th:field="*{dcpsgpfflag}" /> <label>No</label></td>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.dcpsaccountmaintainedby}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><select class="form-control"
					id="dcpsaccountmaintainby" disabled="disabled"
					th:field="*{dcpsaccountmaintainby}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varCommon : ${lstDcpsAccnMaintainby}"
							th:value="${varCommon.lookupId}"
							th:text="${language=='mh' ? varCommon.lookupName : varCommon.lookupName}"></option>
				</select></td>
			</tr>
			
			
			<tr  id="dcpsDiv" >
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.dcpsauth}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="25%"><input type="text" size="40%" minlength="9"
					maxlength="18" id="dcpsAccMainAuthority"
					th:field="*{dcpsAccMainAuthority}" class="form-control" /></td>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.dcpsaccno}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="25%"><input type="text" size="40%"
					  id="dcpsAccNo"
					th:field="*{dcpsAccNo}" class="form-control" /></td>
			</tr>
		</table>
		
		
		
		
		<table class="table table-bordered">

			<b><span th:utext="#{msg.thymeleaf.pagelabel.pfdetails}"></span></b>

			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.accountmaintainedby}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="25%"><select class="form-control"
					id="accountmaintainby" disabled="disabled"
					th:field="*{accountmaintainby}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varCommon : ${lstAccountMaintainby}"
							th:value="${varCommon.lookupId}"
							th:text="${language=='mh' ? varCommon.lookupName : varCommon.lookupName}"></option>
				</select></td>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.pfseries}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><select class="form-control" id="pfseries"
					disabled="disabled" th:field="*{pfseries}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varCommon : ${lstAccountMaintainby}"
							th:value="${varCommon.lookupId}"
							th:text="${language=='mh' ? varCommon.lookupName : varCommon.lookupName}"></option>

				</select></td>
			</tr>



			<tr class="accMaintainedByOtherDiv" style="">
				<td width="10%"><label><span>If Other Please
							Specify Name</span>&nbsp;&nbsp;<b><font color="red" size="4px;">*</font></b></label>
				</td>

				<td><input type="text" id="accMaintainedByOther"
					disabled="disabled" class="form-control"
					name="accMaintainedByOther" value=""></td>
			</tr>

			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.pfaccountno}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="25%"><input Type="text" size="40%" id="pfacno"
					th:field="*{pfacno}" disabled="disabled" class="form-control" /></td>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.pfseriesdecsription}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><input Type="text" size="40%"
					class="form-control" id="pfdescription" th:field="*{pfdescription}"
					disabled="disabled" /></td>
			</tr>
		</table>
	</div>




	<div class="panel-body4" th:fragment="GISDetails">
		<table class="table table-bordered">
			<tr>
				<td width="10%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.gisapplicable}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="25%"><select class="form-control" id="gisapplicable"
					disabled="disabled" th:field="*{gisapplicable}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varCommon : ${lstGISApplicable}"
							th:value="${varCommon.lookupId}"
							th:text="${language=='mh' ? varCommon.lookupName : varCommon.lookupName}"></option>
				</select></td>
				<td width="10%"><label><span
						th:utext="#{msg.thymeleaf.pagelabel.gisgroup}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="25%"><select class="form-control" id="gisgroup"
					onchange="checkGisGroup();" disabled="disabled"
					th:field="*{gisgroup}">
						<option th:value="0"
							th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
						<option th:each="varGISGroup : ${lstGISGroup}"
							th:value="${varGISGroup.id}"
							th:text="${language=='mh' ? varGISGroup.group_name_mh : varGISGroup.group_name_en}"></option>
				</select></td>
			</tr>

			<tr class="gisOtherDiv" style="">
				<td width="10%"><label><span>If Other Please
							Specify Name</span>&nbsp;&nbsp;<b><font color="red" size="4px;">*</font></b></label>
				</td>
				<td><input type="text" id="gisRemark" disabled="disabled"
					class="form-control" name="gisRemark" value=""></td>
			</tr>
			<tr class="gisOtherDiv" style="display: none;">
				<td width="10%"><label><span
						th:utext="#{msg.thymeleaf.pageheading.otherName}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td><input type="text" id="gisRemark" class="form-control"
					th:field="*{gisRemark}" /></td>
			</tr>



		</table>
	</div>




	<div class="panel-body5" th:fragment="NomineeDetails">
		<table class="table table-bordered">

			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabl.nomineename}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="25%"><input Type="text" size="40%"
					readonly="readonly" id="nomineename" th:field="*{nomineename}"
					onkeypress="return onlyAlphabets(event,this);" disabled="disabled"
					class="form-control" /></td>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabl.address}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><input Type="text" size="40%"
					readonly="readonly" ng-model="nomineeaddress" id="nomineeaddress"
					disabled="disabled" th:field="*{nomineeaddress}"
					class="form-control" /></td>
			</tr>
			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabl.dob}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="25%"><input Type="date" size="40%" id="rdob"
					readonly="readonly" th:field="*{rdob}" ng-model="rdob"
					disabled="disabled" class="form-control" /></td>
				<td width="15%"><label><span
						th:utext="#{msg.thymeleaf.pagelabl.reletionship}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="30%"><select class="form-control"
					readonly="readonly" disabled="disabled" id="relation"
					th:field="*{relation}">
						<option th:value="0">Please Select</option>
						<option th:each="varRelation : ${lstRelation}"
							th:value="${varRelation[0]}"
							th:text="${language=='mh' ? varRelation[1] : varRelation[1]}"></option>
				</select></td>
			</tr>
			<tr>
				<td width="25%"><label><span
						th:utext="#{msg.thymeleaf.pagelabl.percentageshare}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td colspan="3"><input Type="text" size="40%"
					readonly="readonly" id="percent_share"
					onblur="ValidateNomineeShare();" th:field="*{percent_share}"
					ng-model="percent_share" class="form-control" style="width: 35%;" /></td>
			</tr>
		</table>
		<div class="text-center">
			<br /> <input type="submit" disabled="disabled" class="btn btn-info"
				value="Add"></input><br /> <br />
		</div>
		<table id="displayTableForNomineeDtls"
			class="table table-striped table-bordered" style="width: 100%">
			<tr>
				<td align="center"><b>Nominee Name</b></td>
				<td align="center"><b>Date Of Birth</b></td>
				<td align="center"><b>%Share</b></td>
				<td align="center"><b>Relationship</b></td>
				<td align="center"><b>Delete Nominee</b></td>
			</tr>
			<tr th:each="nmnDtls,iterationStatus: ${lstNmnDtls}">
				<td class="tds" align="center"><input type="text"
					style="border: none;" size="20" name="txtNameValue"
					id="txtNameValue" th:class='${iterationStatus.count}'
					th:value="${nmnDtls.nomineename}" readonly="readonly" /> <input
					type='hidden' id="txtNomAddr1" name="txtNomAddr1"
					th:value="${nmnDtls.nomineeaddress}"
					th:class='${iterationStatus.count}' /></td>

				<td class="tds" align="center"><input type="text"
					style="border: none;" size="20" name="txtDateOfBirthValue"
					th:class='${iterationStatus.count}' id="txtDateOfBirthValue"
					readonly="readonly" th:value="${nmnDtls.dob}" /></td>


				<td class="tds" align="center"><input type="text"
					style="border: none;" size="5" name="txtPercentShareValue"
					id="txtPercentShareValue" th:class='${iterationStatus.count}'
					th:value="${nmnDtls.percent_share}" readonly="readonly" /></td>

				<td class="tds" align="center"><input type="text" size="10"
					style="border: none;" name="txtRelationshipValue"
					id="txtRelationshipValue" th:class='${iterationStatus.count}'
					th:value="${nmnDtls.relation}" readonly="readonly" /></td>
				<td class="tds" align="center"><a data-toggle='tooltip'
					disabled="disabled" class='glyphicon glyphicon-trash'
					onclick="deleteRow();"></a></td>
			</tr>
		</table>
	</div>






	<div class="panel-body6" th:fragment="PhotoSignature">
		<table class="table table-bordered">
			<tr>
				<td width="10%"><label><span
						th:utext="#{msg.thymeleaf.pagelabl.filedesc}"></span> &nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b> </label></td>
				<td width="25%"><input Type="text" size="40%"
					placeholder="Photo" disabled="disabled" ng-model="fileDesc"
					id="photodesc" name="photodesc" class="form-control" /></td>
				<td width="10%"><label><span
						th:utext="#{msg.thymeleaf.pagelabl.attachfile}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="25%">
					<!-- 										<input Type="file" ng-model="attachFile" id="photo" /> -->
					<input Type="file" ng-model="attachFile" id="files"
					onchange="getimage(this);" disabled="disabled" name="files" />
				</td>
				<td width="10%"><img id="imagePath"
					th:src="@{${'/ddo/viewFilephoto/' + mstEmployeeModel.employeeId}}"
					width="100" height="100" /></td>
			</tr>
			<tr>
				<td width="10%"><label><span
						th:utext="#{msg.thymeleaf.pagelabl.signDesc}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="25%"><input Type="text" size="40%"
					placeholder="Signature" disabled="disabled" id="signaturedesc"
					name="signaturedesc" ng-model="signature" class="form-control" /></td>
				<td width="10%"><label><span
						th:utext="#{msg.thymeleaf.pagelabl.attachfile}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label></td>
				<td width="25%"><input Type="file" ng-model="attachFile1"
					id="files" onchange="getimagesign(this);" disabled="disabled"
					name="files" /></td>
				<td width="10%"><img id="imagePathSign"
					th:src="@{${'/ddo/viewFileSign/' + mstEmployeeModel.employeeId}}"
					width="100" height="100" /></td>
			</tr>

		</table>
	</div>
</body>
</html>