<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title th:utext="#{msg.thymeleaf.pagelabel.sysappr}"></title>
</head>
<body class="approveDDOOfficeView">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>
	<div class="container min-height-600 ">
		<div class="breadcrumbMain">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<!--   <li class="breadcrumb-item homelinkbd"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item"><a href="#"><span
							th:utext="#{msg.thymeleaf.pagelabel.reportBD}"></span></a></li>
					<li class="breadcrumb-item active" aria-current="page"><span
						th:utext="#{msg.thymeleaf.pagelabel.sysappr}"></span></li>
				</ol>
			</nav>
		</div>
		<h3 Class="PageHeading">
			<span th:utext="#{msg.thymeleaf.pagelabel.sysappr}"></span>
		</h3>
		<div class="newpagecontent container">

			<form method="POST" name="DDOOfficeView"
				th:action="@{/ddo/getReport}">
				<input type="hidden" value="" name="hierarchy" id="hierarchy">
				<legend>
					<b>DDO OFFICE</b>
				</legend>
				<div>
					<br>
					<!--  <span class="pagebanner">One Record found.</span><span class="pagelinks"><strong>1</strong></span> -->
					<table class="table table-bordered">
						<thead>
							<tr>
								<th th:text="#{msg.thymeleaf.pagelabel.ddoCode}"></th>
								<th th:text="#{msg.thymeleaf.pagelabel.ddocodelevel2}"></th>
									<th th:text="#{msg.thymeleaf.pagelabel.ddocodelevel3}"></th>
								<th th:text="#{msg.thymeleaf.pagelabel.hierarchylevel}"></th>
								<th th:text="#{msg.thymeleaf.pagelabel.status}"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="VarDDO,rowStat : ${zpDDOOfficelst}">
								<td style="text-align: left" ><span th:text="${VarDDO.zpDdoCode}" th:data-srno="${rowStat.index}" th:id="|${rowStat.index}${VarDDO.zpDdoCode}|"   th:data="${VarDDO.zpDdoCode}"  th:data-ddocode="${VarDDO.zpDdoCode}"     class="ddoCode"></span></td>
								<td style="text-align: left" ><span th:text="${VarDDO.reptDdoCode}"  th:data-srno="${rowStat.index}"  th:id="|${rowStat.index}${VarDDO.reptDdoCode}|"  th:data="${VarDDO.reptDdoCode}"  th:data-ddocode="${VarDDO.reptDdoCode}"  class="ddoCode"></span></td>
								<td style="text-align: left"><span th:text="${VarDDO.finalDdoCode}"  th:data-srno="${rowStat.index}" th:id="|${rowStat.index}${VarDDO.finalDdoCode}|"  th:data="${VarDDO.finalDdoCode}"  th:data-ddocode="${VarDDO.finalDdoCode}"   class="ddoCode"></span></td>
								<td style="text-align: left">2</td>
								<td style="text-align: left"><a
									th:href="@{'/ddo/approveRejectDtls/'+${VarDDO.zpDdoCode}}">Click
										Hear To Approve/Reject</a></td>
								<!--  -->
							</tr>
						</tbody>
					</table>
					<div class="text-center">
						<br>&nbsp; <input type="submit" name="ViewReports"
							value="View Reports" size="3" maxlength="3" class="buttontag">
						<br> <br>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="header/menuHeader :: varmenufooter"></div>
	<script type="text/javascript">
	$(document).ready(function() {
	var contextPath = $("#appRootPath").val();
	$('body').on('click', '.ddoCode', function() {
	var field=$(this).attr("data");  
	var srno=$(this).attr("data-srno");  
	
	var ddoCode=field;

	$( "#loaderMainNew").show();
	$.ajax({
		type : "GET",
		url : contextPath+"/ddo/fetchDdoDetails/" + ddoCode,
		async : true,
		contentType : 'application/json',
		error : function(data) {
			// console.log(data);
			$( "#loaderMainNew").hide();
		},
		success : function(data) {
			// console.log(data);
			// alert(data);
			var len = data.length;
			$( "#loaderMainNew").hide();
				var temp = data;
				$
						.each(
								temp,
								function(index,
										value) {
									console
											.log(value[1]);
									
									setDDOdtls(value[0]+","+value[1], field, srno);
								
																							});
		}
	});
});

$('body').on('click', '.hideDdoCode', function() {
	var field=$(this).attr("data-ddocode");  
	var srno=$(this).attr("data-srno");  
	 hideDtls(field, srno);
});


function setDDOdtls(myAjax, field, srno) {
	var divId = srno.toString() + field.toString();
	document.getElementById(divId).innerHTML = '<a   data-ddocode="'+field+'"  data-srno="'+srno+'"   class="hideDdoCode"  >'+ field+ '<br>'+ myAjax + '</a>';
}

function hideDtls(field, srno) {

	var divId = srno.toString() + field.toString();
	document.getElementById(divId).innerHTML = '<a   data-ddocode="'+field+'"  data-srno="'+srno+'"   class="ddoCode"   >' + field + '</a>';
}
});
	
	</script>
	
</body>

</html>