<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{menu.master.sub.attachDeattachemployee1}"></title>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<style>
.datatableheader {
	background-color: #fbf4eb;
	padding: 2px;
	font-weight: bold;
	font-size: 12px;
	color: #cc7a06;
	text-align: center
}
</style>
</head>

<BODY class="attach_dettach_employee">
	<!--  onkeydown="onKeyDownEvent (event)" -->
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>


	<!-- <DIV id=pageContent> -->
	<!-- <DIV id=inContent> -->
	<!-- <DIV id=content> -->
	<div class="container min-height-600">
		<div class="breadcrumbMain">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<!--   <li class="breadcrumb-item homelinkbd"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item"><a href="#"><span
							th:utext="#{msg.thymeleaf.pagelabel.masterBD}"></span></a></li>
					<li class="breadcrumb-item active" aria-current="page"><span
						th:utext="#{menu.master.sub.attachDeattachemployee1}"></span></li>
				</ol>
			</nav>
		</div>
		<h3 Class="PageHeading">
			<span th:utext="#{menu.master.sub.attachDeattachemployee1}"></span>
		</h3>
		<FORM class="form-horizontal container" name="myForm" id="myForm"
			method="POST" th:object="${mpgSchemeBillGroupModel}"
			th:action="@{/ddoast/saveAttachDettachEmployee}"
			enctype="multipart/form-data">
			<input type="hidden" name="billGroupId" id="billGroupId"
				th:field="*{billGroupId}" /> <input type="hidden" name="status"
				id="status" th:field="*{status}" /> <input type="hidden"
				name="message" id="message" th:value="${message}" />
			<FIELDSET class="tabstyle container">
				<LEGEND> Input Bill Group Details </LEGEND>
				<div class="form-group">

					<label class="control-label col-sm-2" for="title"><span
						th:utext="#{msg.thymeleaf.pagelabel.billdescription}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label>
					<div class="col-sm-4">
						<select class="form-control" th:field="*{schemebillGroupId}"
							id="schemebillGroupId" name="schemebillGroupId">
							<option selected="selected" th:value="0" id="schemebillGroupId"
								th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
							<option th:each="varAllBillGroup : ${lstAllBillGroup}"
								th:value="${varAllBillGroup.dcpsDdoBillGroupId}"
								th:text="${language=='mh' ? varAllBillGroup.description : varAllBillGroup.description}"></option>
						</select>
					</div>
					<label class="control-label col-sm-2" for="title"><span
						th:utext="#{msg.thymeleaf.pageheading.typeattachDeattach}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label>
					<div class="col-sm-4">
						<select class="form-control" th:field="*{type}" id="type"
							name="type">
							<option selected="selected" th:value="0" id="type"
								th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>

							<option th:value="1">Attach Detach Employee</option>
							<option th:value="2">Attach Detach Vacant Post</option>
						</select>
					</div>
				</DIV>
				<DIV align=center>
					<INPUT onclick="findAttachDettachEmp();" id=btnGo
						class="buttontag btn" maxLength=3 size=3 type=button value=GO
						name=btnGo> <INPUT onclick=ReturnLoginPage();
						id=btnBackWithGo class="buttontag btn" type=button value=Back
						name=btnBackWithGo>
				</DIV>
				<br>
			</FIELDSET>
			<FIELDSET class="tabstyle attachdetachempmain attachdettachemp"
				id="attachdettach" th:if="${lstDettachEmployee}!=null">
				<LEGEND>
					<B>Attach/Detach Employee</B>
				</LEGEND>
				<INPUT id=counterEmp type=hidden value=0 name=counterEmp> <INPUT
					id=counterEmpBG type=hidden value=0 name=counterEmpBG>

				<TABLE class="table table-bordered">
					<TBODY>
						<TR>
							<TD vAlign=top width="40%">
								<DIV style="OVERFLOW: auto; HEIGHT: 250px; WIDTH: 100%">
									<TABLE id=tableEmp class="datatable table table-bordered"
										style="WIDTH: 100%">
										<THEAD>
											<TR>
												<TH class="datatableheader sorted order1"><INPUT
													onclick=checkUncheckAll(this) type=checkbox name=SelectAll></TH>
												<TH class="datatableheader sortable">Employees (All)</TH>
											</TR>
										</THEAD>
										<TBODY>

											<span
												th:each="dettachEmployeerow,iterationStatus : ${lstDettachEmployee}">
												<!-- <TR class=even> -->
												<TR>
													<TD class=tablecelltext style="TEXT-ALIGN: center"><INPUT
														th:id="${'GroupCheck'+iterationStatus.count}"
														type="checkbox" th:value="${dettachEmployeerow[0]}"
														name="GroupCheck"> <SCRIPT>
															document
																	.getElementById("counterEmp").value = Number(document
																	.getElementById("counterEmp").value) + 1;
														</SCRIPT></TD>
													<TD class=tablecelltext style="TEXT-ALIGN: left"><LABEL
														th:id="${'empName'+iterationStatus.count}"><B><span
																th:text="${dettachEmployeerow[2]+'('+dettachEmployeerow[4]+')'}"></span></B></LABEL>
													</TD>
												</TR>

											</span>
										</TBODY>
									</TABLE>
								</DIV>
							</TD>
							<TD width="20%" align=center vAlign="middle"
								style="vertical-align: middle;">
								<div class="form-group">

									<div class="col-sm-6">
										<INPUT onclick=validateBeforeAttach() id=btnAttach
											class="buttontag btn" maxLength=3 size=3 type=button
											value=Attach name=btnAttach>

									</div>
									<div class="col-sm-6">
										<INPUT onclick=validateBeforeDetach() id=btnDetach
											class="buttontag btn" maxLength=3 size=3 type=button
											value=Detach name=btnDetach>
									</div>


								</div>

							</TD>
							<TD vAlign=top width="40%">
								<DIV style="OVERFLOW: auto; HEIGHT: 250px; WIDTH: 100%">
									<TABLE id=tableEmpBG class="datatable table table-bordered">
										<THEAD>
											<TR>
												<TH class=datatableheader><INPUT
													onclick=checkUncheckAllBG(this) type=checkbox
													name=SelectAllBG></TH>
												<TH class="datatableheader sortable"><LABEL><span
														th:text="${billDescription}"></span></LABEL></TH>
											</TR>
										</THEAD>
										<TBODY>

											<span
												th:each="attachedEmployeerow,iterationStatus : ${lstAttachedEmployee}">
												<!-- <TR class=even> -->
												<TR>
													<TD class=tablecelltext style="TEXT-ALIGN: center"><INPUT
														th:id="${'GroupCheckBG'+iterationStatus.count}"
														type=checkbox th:value="${attachedEmployeerow[0]}"
														name=GroupCheckBG> <SCRIPT>
															document
																	.getElementById("counterEmpBG").value = Number(document
																	.getElementById("counterEmpBG").value) + 1;
														</SCRIPT></TD>
													<TD class=tablecelltext style="TEXT-ALIGN: left"><LABEL
														th:id="${'empNameBG'+iterationStatus.count}"><B><span
																th:text="${attachedEmployeerow[2]+'('+attachedEmployeerow[4]+')'}"></span></B></LABEL>
													</TD>
												</TR>

											</span>

										</TBODY>
									</TABLE>
								</DIV>
							</TD>
						</TR>
					</TBODY>
				</TABLE>
				<INPUT id=dcpsEmpIdstoBeDetached size=100 type=hidden
					name=dcpsEmpIdstoBeDetached th:field="*{dcpsEmpIdstoBeDetached}">
				<INPUT id=dcpsEmpIdstoBeAttached size=100 type=hidden
					name=dcpsEmpIdstoBeAttached th:field="*{dcpsEmpIdstoBeAttached}">


				<DIV align=center>
					<INPUT onclick=AttachAndDetachEmp(); id=btnSaveData
						class="buttontag btn" maxLength=3 size=3 type=button value=Save
						name=btnSaveData>
					<!-- <INPUT onclick=ReturnLoginPage();
						id=btnBack class="buttontag btn" maxLength=3 size=3 type=button
						value=Back name=btnBack> -->
					<a th:href="@{/user/home}" class="btn"><span
						th:text="#{msg.thymeleaf.pagelabel.btnCancel}"></span></a>
				</DIV>
			</FIELDSET>


			<!-- 	For attach post to bill group -->

			<FIELDSET class="tabstyle attachdetachempmain attachdettachposts"
				id="attachdettachPost" th:if="${lstdetachpost}!=null">
				<LEGEND>
					<B>Attach Detach Vacant Post</B>
				</LEGEND>
				<INPUT id="counterEmpPost" type=hidden value=0 name=counterEmp>
				<INPUT id=counterEmpBGPost type=hidden value=0 name=counterEmpBG>

				<TABLE class="table table-bordered">
					<TBODY>
						<TR>
							<TD vAlign=top width="40%">
								<DIV style="OVERFLOW: auto; HEIGHT: 250px; WIDTH: 100%">
									<TABLE id=tableEmp class="datatable table table-bordered"
										style="WIDTH: 100%">
										<THEAD>
											<TR>
												<TH class="datatableheader sorted order1"><INPUT
													type=checkbox name=SelectAll id=SelectAttachAll></TH>
												<TH class="datatableheader sortable">Post (All)</TH>
											</TR>
										</THEAD>
										<TBODY>

											<span
												th:each="dettachEmployeerow,iterationStatus : ${lstdetachpost}">
												<TR class=even>
												<TR>
													<TD class=tablecelltext style="TEXT-ALIGN: center"><INPUT
														th:id="${'GroupCheckPost'+iterationStatus.count}"
														class="dettachPostIdChk" type="checkbox"
														th:value="${dettachEmployeerow[1]}" name="GroupCheck">
														<SCRIPT>
															document
																	.getElementById("counterEmp").value = Number(document
																	.getElementById("counterEmp").value) + 1;
														</SCRIPT></TD>
													<TD class=tablecelltext style="TEXT-ALIGN: left"><LABEL
														th:id="${'postId'+iterationStatus.count}"><B><span
																th:text="${dettachEmployeerow[0]+'('+dettachEmployeerow[8]+')'}"></span></B></LABEL>
													</TD>
												</TR>

											</span>
										</TBODY>
									</TABLE>
								</DIV>
							</TD>
							<TD width="20%" align=center vAlign="middle"
								style="vertical-align: middle;">
								<div class="form-group">

									<div class="col-sm-6">
										<INPUT id=btnAttach class="buttontag btn" maxLength=3 size=3
											type=button value=Attach name=btnAttach>

									</div>
									<div class="col-sm-6">
										<INPUT id=btnDetach class="buttontag btn" maxLength=3 size=3
											type=button value=Detach name=btnDetach>
									</div>


								</div>

							</TD>
							<TD vAlign=top width="40%">
								<DIV style="OVERFLOW: auto; HEIGHT: 250px; WIDTH: 100%">
									<TABLE id=tableEmpBG class="datatable table table-bordered">
										<THEAD>
											<TR>
												<TH class=datatableheader><INPUT id=SelectDettachchAll
													onclick=checkUncheckAllBGPost(this) type=checkbox
													name=SelectAllBG></TH>
												<TH class="datatableheader sortable"><LABEL>POST(<span
														th:text="${billDescription}"></span>)
												</LABEL></TH>
											</TR>
										</THEAD>
										<TBODY>

											<span
												th:each="attachedEmployeerow,iterationStatus : ${lstattachpost}">
												<TR class=even>
												<TR>
													<TD class=tablecelltext style="TEXT-ALIGN: center"><INPUT
														th:id="${'GroupCheckBGPost'+iterationStatus.count}"
														class="attachPostIdChk" type=checkbox
														th:value="${attachedEmployeerow[1]}" name=GroupCheckBG>
														<SCRIPT>
															document
																	.getElementById("counterEmpBG").value = Number(document
																	.getElementById("counterEmpBG").value) + 1;
														</SCRIPT></TD>
													<TD class=tablecelltext style="TEXT-ALIGN: left"><LABEL
														th:id="${'empNameBG'+iterationStatus.count}"><B><span
																th:text="${attachedEmployeerow[0]+'('+attachedEmployeerow[1]+')'}"></span></B></LABEL>
													</TD>
												</TR>

											</span>

										</TBODY>
									</TABLE>
								</DIV>
							</TD>
						</TR>
					</TBODY>
				</TABLE>
				<input type="hidden" name="billGroupId" id="billGroupId"
					th:field="*{billGroupId}" /> <INPUT id=postIdstoBeAttached
					size=100 type=hidden name=postIdstoBeAttached
					th:field="*{postIdstoBeAttached}"> <INPUT
					id=postIdstoBeDetached size=100 type=hidden
					name=postIdstoBeDetached th:field="*{postIdstoBeDetached}">
				<DIV align=center>
					<INPUT id=btnAttachPost class="buttontag btn" type=button
						value=Save name=btnSaveData> <INPUT
						onclick=ReturnLoginPage(); id=btnBack class="buttontag btn"
						type=button value=Back name=btnBack> <a
						th:href="@{/user/home}" class="btn"><span
						th:text="#{msg.thymeleaf.pagelabel.btnCancel}"></span></a>
				</DIV>
			</FIELDSET>

			<INPUT id=actionFlag type=hidden name=actionFlag> <INPUT
				id=elementId type=hidden name=elementId> <INPUT
				id=billGroupId type=hidden name=billGroupId> <INPUT
				id=typeOfAttachDetach type=hidden name=typeOfAttachDetach> <INPUT
				id=hdnAttachDetachFlag type=hidden value=true
				name=hdnAttachDetachFlag> <INPUT id=payMonth type=hidden
				value=2 name=payMonth> <INPUT id=payYear type=hidden
				value=2018 name=payYear>
			<SCRIPT language=JavaScript>
				// setForm('frmDCPSAttachBill');
			</SCRIPT>
		</FORM>
	</div>
	<!-- </div> -->
	<!-- </div> -->
	<!-- </div> -->
	<div th:replace="header/menuHeader :: varmenufooter"></div>
	<script>
		$(document).ready(function() {
			$("#schemebillGroupId").change(function() {
				/* alert("The text has been changed."); */
				$(".attachdetachempmain").hide();
			});
			$("#btnGo").change(function() {
				var type = $("#type").val();
				if (type == '1') {
					$(".attachdetachempmain").show();
				} else if (type == '2')
					$(".attachdetachempmain").show();
			});
		});
	</script>
	<script th:src="@{/js/project/attach-deattach-emp.js}"></script>
</BODY>
</html>
