<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{msg.thymeleaf.pageheading.branchmaster}"></title>

</head>
<body class="branch-master">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>
	<div class="container min-height-600">
		<div class="breadcrumbMain">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<!--   <li class="breadcrumb-item homelinkbd"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item"><a href="#"><span
							th:utext="#{msg.thymeleaf.pagelabel.dcpsBD}"></span></a></li>
					<li class="breadcrumb-item active" aria-current="page"><span
						th:utext="#{msg.thymeleaf.pageheading.branchmaster}"></span></li>
				</ol>
			</nav>
		</div>
		<h3 Class="PageHeading">
			<span th:utext="#{msg.thymeleaf.pageheading.branchmaster}"></span>
		</h3>

		<div class="formMainwithNoborTb container">
			<div id="content">

				<form method="POST" th:object="${mstBankBranchEntity}" name="mstbankBranch">

					<a th:href="@{/mdc/addBranch}" class="btn">Add new Entry</a> <br />
					<table class="datatable table table-bordered" id="datatableNew">
						<thead>
							<tr>
								<th>Branch Name</th>
								<th>Bank Name</th>
								<th>MICR Code</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="varBank : ${branchName}">

								<td><a th:href="@{'/mdc/editBankBranch/' + ${varBank.bankBranchId}}"><span
										th:text="${varBank.bankBranchName}"></span></a></td>
								<td th:text="${varBank.bankName}"></td>
								<td th:text="${varBank.ifscCode}"></td>

							</tr>
						</tbody>
					</table>
				</form>
				<br />
				<div class="text-center">
					<input type="button" name="btnCancel" id="btnCancel" value="Cancel"
						size="3" maxlength="3" class="buttontag">
				</div>
			</div>
		</div>
	</div>

	<div th:replace="header/menuHeader :: varmenufooter"></div>
</body>
</html>