<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{msg.thymeleaf.pageheading.changePasswordScreen}"></title>
<style>
input#countryNameEn::placeholder {
	font-size: 11px;
	color: #ccccccb3;
}

.alert.alert-success {
	display: block !important;
}
</style>
</head>
<body class="change-password">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>

	<div class="container min-height-600">

		<h3 Class="PageHeading">
			<span th:utext="#{msg.thymeleaf.pageheading.changePasswordScreen}"></span>
		</h3>
		<div align="center" class="error">
			<span th:utext="${message}"></span>
		</div>
		<!-- <div th:if="${savedSuccessfully.value} eq 'SAVED'">
			<p>Saved Successfully !</p>
		</div> -->
		<fieldset class="container">
			<!-- <legend th:utext="#{msg.thymeleaf.pageheading.addcountry}" th:style="${'color: orange;'}"></legend> -->

			<!-- 		<h1 th:utext="#{common.label.title}"></h1> -->

			<form class="form-horizontal" th:action="@{${action}}"
				id="chnagePassForm" th:object="${changePasswordModel}" method="POST"
				enctype="multipart/form-data">

				<input type="hidden" name="language" id="language"
					th:value="${language}" /> <input type="hidden" name="errorCode"
					id="errorCode" th:value="${errorCode}" /> <input type="hidden"
					name="message" id="message" th:value="${message}" />

				<fieldset class="container">

					<div class="form-group">


						<div
							th:classappend="${#fields.hasErrors('password')} ? has-error : ''"
							class="row">
							<label class="control-label col-sm-3" for="title"><span
								th:utext="#{msg.thymeleaf.pageheading.oldpass}"></span>&nbsp;&nbsp;<b><font
									color="red" size="4px;">*</font></b></label> <i
								class="fa fa-times-circle-o"
								th:if="${#fields.hasErrors('password')}"></i>
							<div class="col-sm-3">
								<input type="password" class="form-control" id="password"
									th:field="*{password}"></input> <span
									th:if="${#fields.hasErrors('password')}" class="help-block"
									th:errors="*{password}"
									th:utext="#{msg.thymeleaf.pageheading.oldpass}"></span>
							</div>
						</div>


						<div
							th:classappend="${#fields.hasErrors('newPassword')} ? has-error : ''"
							class="row flex">
							<label class="control-label col-sm-3 mar-auto" for="title"><span
								th:utext="#{msg.thymeleaf.pageheading.newpass}"></span>&nbsp;&nbsp;<b><font
									color="red" size="4px;">*</font></b></label> <i
								class="fa fa-times-circle-o"
								th:if="${#fields.hasErrors('newPassword')}"></i>
							<div class="col-sm-3">
								<input type="password" class="form-control" id="newPassword"
									th:field="*{newPassword}"></input> <span
									th:if="${#fields.hasErrors('newPassword')}" class="help-block"
									th:errors="*{newPassword}"
									th:utext="#{msg.thymeleaf.required.pleaseenternewpassword}"></span>
							</div>
							<div class="alert alert-success col-sm-5">
								<strong> Note:</strong> New Password Length should be minimum 8
								characters and maximum 15 characters. Password must contain
								atleast 1 UpperCase Alphabet, 1 LowerCase Alphabet, 1 Number and
								1 Special Character.
							</div>

						</div>
						<div
							th:classappend="${#fields.hasErrors('newPasswordConfirm')} ? has-error : ''"
							class="row">
							<label class="control-label col-sm-3" for="title"><span
								th:utext="#{msg.thymeleaf.pageheading.newpassconfirm}"></span>&nbsp;&nbsp;<b><font
									color="red" size="4px;">*</font></b></label> <i
								class="fa fa-times-circle-o"
								th:if="${#fields.hasErrors('newPasswordConfirm')}"></i>
							<div class="col-sm-3">
								<input type="password" class="form-control"
									id="newPasswordConfirm" th:field="*{newPasswordConfirm}"></input>
								<span th:if="${#fields.hasErrors('newPassword')}"
									class="help-block" th:errors="*{newPassword}"
									th:utext="#{msg.thymeleaf.required.pleaseenterconfirmnewpassword}"></span>
							</div>
							<div class="alert alert-success col-sm-5">
								<strong> Note:</strong>New Password and Confirm Password should
								be same
							</div>

						</div>
					</div>

				</fieldset>

				<div style="height: 5px"></div>

				<div align="center">
					<input type="submit" id="btnUpdatePass" class="btn btn-primary"
						th:value="#{msg.thymeleaf.pagelabel.btnUpdatePass}" /> <input onclick="history.back()"
						type="button" id="resetButton" value="Cancel" class="buttontag">
				</div>


				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />



			</form>






		</fieldset>
	</div>

	<div th:replace="header/menuHeader :: varmenufooter"></div>
	<script th:src="@{/js/project/change-password.js}"></script>


</body>
</html>