<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{msg.thymeleaf.pageheading.createoffice}"></title>
<style type="text/css">
table.table.bor-0 td:first-child, table.table.bor-0 td:nth-child(3) {
	padding-left: 50px;
}
</style>
</head>
<body class="create-office">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>
	<div class="container min-height-600">
		<div class="breadcrumbMain">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<!--   <li class="breadcrumb-item homelinkbd"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item"><a href="#"><span
							th:utext="#{msg.thymeleaf.pagelabel.masterBD}"></span></a></li>
					<li class="breadcrumb-item active" aria-current="page"><span
						th:utext="#{msg.thymeleaf.pageheading.createoffice}"></span></li>
				</ol>
			</nav>
		</div>
		<h3 Class="PageHeading">
			<span th:utext="#{msg.thymeleaf.pageheading.createoffice}"></span>
		</h3>

		<div class="formMainwithNoborTb container">
			<div id="content" style="background: :#f0ebe8;">

				<form method="post" name="ZpDDOOffice"
					th:object="${zpRltDdoMapModel}"
					th:action="@{/mdc/saveCreateAdminOffice}"
					enctype="multipart/form-data">


					<input type="hidden" id="uniqueId" name="uniqueId"
						th:value="${uniqueId}" /> <input type="hidden" id="desginationId"
						name="desginationId" th:field="*{desginationId}" />


					<div id="tcontent1">
						<table class="table bor-0">
							<tbody>
								<tr>
									<td width="20%"><label class="captionTag"
										id="ZPDDOOFFICE_ZPADMINOFFICE">Admin Office</label>&nbsp;&nbsp;<label class="mandatoryindicator">*</label></td>
									<td width="30%"><select name="cmbAdminOffice"
										id="cmbAdminOffice" th:field="*{cmbAdminOffice}"
										class="selecttag mandatorycontrol">
											<option value="-1">Select</option>
											<option th:each="zpAdminNameMst : ${lstZpAdminNameMst}"
												th:value="${zpAdminNameMst.adminCode}"
												th:text="${zpAdminNameMst.adminName}"></option>
									</select>


										<p th:if="${#fields.hasErrors('cmbAdminOffice')}"
											th:class="error" th:errors="*{cmbAdminOffice}" /></td>

									<td width="20%"><label class="captionTag"
										id="ZPDDOOFFICE_ZPDISTRICTOFFICE">District Office</label>&nbsp;&nbsp;<label class="mandatoryindicator">*</label></td>
									<td width="30%"><select name="cmbDistrict"
										id="cmbDistrict" th:field="*{cmbDistOffice}"
										style="width: 85%, display: inline;">
											<option title="Select All" value="-1">Select</option>

											<option th:each="cmnDistrctMst : ${adminOfcLst}"
												th:value="${cmnDistrctMst[1]}" th:text="${cmnDistrctMst[0]}"></option>

									</select>

										<p th:if="${#fields.hasErrors('cmbDistOffice')}"
											th:class="error" th:errors="*{cmbDistOffice}" /></td>
								</tr>
								<tr>
									<td><label class="captionTag"
										id="ZPDDOOOFFICE_FINAL_LEVEL">Final Level</label>2&nbsp;&nbsp;<label class="mandatoryindicator">*</label></td>
									<td><input type="radio" th:field="*{radioFinalLevel}"
										value="2" onclick="checkforHirechy();" id="radioFinalLevel2"
										class="radiobuttontag mandatorycontrol" th:checked="true">&nbsp;Level
										 <label
										id="radioFinalLevel-error" class="error" for="radioFinalLevel"></label>
										<p th:if="${#fields.hasErrors('radioFinalLevel')}"
											th:class="error" th:errors="*{radioFinalLevel}" /></td>

									<td><label class="captionTag"
										id="ZPDDOOOFFICE_REPDDO_CODE">DDO Code Level 2 </label>&nbsp;&nbsp;<label
										class="mandatoryindicator">*</label></td>
									<td><input type="text" name="txtRepDDOCode"
										th:field="*{txtRepDDOCode}" id="txtRepDDOCode"
										class="numbertag mandatorycontrol" value="" maxlength="10/">

										<p th:if="${#fields.hasErrors('txtRepDDOCode')}"
											th:class="error" th:errors="*{txtRepDDOCode}" /></td>
								</tr>
								<tr style="display: none;">
									<td><label class="captionTag"
										id="ZPDDOOOFFICE_FINALDDO_CODE">DDO Code Level 3 </label>&nbsp;&nbsp;<label
										class="mandatoryindicator">*</label></td>
									<td><input type="text" name="txtFinalDDOCode"
										th:field="*{txtFinalDDOCode}" id="txtFinalDDOCode"
										class="numbertag mandatorycontrol" value="" maxlength="10/">

										<p th:if="${#fields.hasErrors('txtFinalDDOCode')}"
											th:class="error" th:errors="*{txtFinalDDOCode}" /></td>

									<td><label class="captionTag"
										id="ZPDDOOOFFICE_SPECIALDDO_CODE">DDO Code Level 4</label>&nbsp;&nbsp;<label
										class="mandatoryindicator">*</label>
										</td>
									<td><input type="text" name="txtSpecialDDOCode"
										th:field="*{txtSpecialDDOCode}" id="txtSpecialDDOCode"
										class="numbertag mandatorycontrol" value="" maxlength="10/">

										<p th:if="${#fields.hasErrors('txtSpecialDDOCode')}"
											th:class="error" th:errors="*{txtSpecialDDOCode}" /></td>
								</tr>
								<tr>
									<td><label class="captionTag"
										id="ZPDDOOOFFICE_EMP_NAME_SALUTATION">DDO Name
											Salutation</label>&nbsp;&nbsp;<label
										class="mandatoryindicator">*</label></td>
									<td><input type="radio" name="radioSalutation"
										th:field="*{radioSalutation}" value="radioSalutationShri"
										onclick="addSalutationToName();" id="radioSalutationShri"
										th:checked="true" class="radiobuttontag mandatorycontrol">&nbsp;Shri <input type="radio"
										th:field="*{radioSalutation}" onclick="addSalutationToName();"
										name="radioSalutation" value="radioSalutationShri"
										id="radioSalutationSmt" class="radiobuttontag">&nbsp;Smt


										<label id="radioSalutation-error" class="error"
										for="radioSalutation"></label>

										<p th:if="${#fields.hasErrors('radioSalutation')}"
											th:class="error" th:errors="*{radioSalutation}" /></td>
									<td><label class="captionTag" id="ZPDDOOOFFICE_EMP_NAME">DDO
											Name</label>&nbsp;&nbsp;<label
										class="mandatoryindicator">*</label></td>
									<td><input type="text" name="txtDDOName" id="txtDDOName"
										th:field="*{txtDDOName}" class="texttag mandatorycontrol"
										value="Shri." onblur="validateDDOName();" maxlength="100/">

										<p th:if="${#fields.hasErrors('txtDDOName')}" th:class="error"
											th:errors="*{txtDDOName}" /></td>
								</tr>
								<tr>
									<td><label class="captionTag" id="ZPDDOOFFICE_ZPGENDER">Gender</label></td>
									<td>Male <b>:</b>&nbsp;&nbsp;<input type="radio"
										th:field="*{radioGender}" id="radioMale" name="radioGender"
										value="M" th:checked="true"> &nbsp;&nbsp;Female <b>:</b>&nbsp;&nbsp;<input
										type="radio" th:field="*{radioGender}" id="radioFemale"
										name="radioGender" value="F"> &nbsp;&nbsp;Trans Gender
										<b>:</b>&nbsp;&nbsp;<input th:field="*{radioGender}"
										type="radio" id="radioTransGender" name="radioGender"
										value="T"> <label id="radioGender-error" class="error"
										for="radioGender"></label>
										<p th:if="${#fields.hasErrors('radioGender')}"
											th:class="error" th:errors="*{radioGender}" />

									</td>

									<td><label class="captionTag" id="ZPDDOOOFFICE_TREASURY" >Treasury
											Name</label></td>
									<td><input type="text" name="txtTreasuryName"
										th:field="*{txtTreasuryName}" id="txtTreasuryName"
										class="texttag disabledcontrol" value="" readonly
										maxlength="50/">


										<p th:if="${#fields.hasErrors('txtTreasuryName')}"
											th:class="error" th:errors="*{txtTreasuryName}" /></td>
								</tr>
								<tr>
									<td><label class="captionTag"
										id="ZPDDOOFFICE_DDO_TREASURY_CODE">Treasury Code</label></td>
									<td><input type="text" name="txtTreasuryCode"
										th:field="*{txtTreasuryCode}" id="txtTreasuryCode"
										class="texttag disabledcontrol" value="" readonly
										maxlength="4/">


										<p th:if="${#fields.hasErrors('txtTreasuryCode')}"
											th:class="error" th:errors="*{txtTreasuryCode}" /></td>

									<td><label class="captionTag"
										id="ZPDDOOOFFICE_SUB_TREASURY">Sub Treasury Name</label>&nbsp;&nbsp;<label class="mandatoryindicator">*</label></td>
									<td><select name="cmbSubTreasury" id="cmbSubTreasury"
										th:field="*{cmbSubTreasury}"
										class="selecttag mandatorycontrol">
											<option value="-1">Select</option>
									</select>


										<p th:if="${#fields.hasErrors('cmbSubTreasury')}"
											th:class="error" th:errors="*{cmbSubTreasury}" /></td>
								</tr>
								<tr>
									<td><label class="captionTag" id="ZPDDOOOFFICE_DDO_Dsgn">DDO
											Designation</label><label
										class="mandatoryindicator">*</label></td>
									<td><input type="text" name="txtDDODsgn" id="txtDDODsgn"
										th:field="*{txtDDODsgn}" class="texttag mandatorycontrol"
										value="" maxlength="50/" autocomplete="off">



										<p th:if="${#fields.hasErrors('txtDDODsgn')}" th:class="error"
											th:errors="*{txtDDODsgn}" />

										<div id="searchDiv"
											style="display: none; width: 293.047px !important;"></div> <!-- 
										<div id="ajaxAuto_txtDDODsgn" class="autocomplete"
											style="display: none;"></div>&nbsp;&nbsp; --> <br />
										<table>
											<tbody>
												<tr>
													<td align="left"
														style="font-size: smaller; font-style: italic">Please
														enter the first three charactors of designation that you
														want to select. Ex. If you want to select Lecturer then
														enter Lec.</td>
												</tr>
											</tbody>
										</table></td>

									<td><label class="captionTag"
										id="ZPDDOOOFFICE_OFFICE_NAME">Institute Name</label>&nbsp;&nbsp;<label
										class="mandatoryindicator">*</label></td>
									<td><input type="text" name="txtOfficeName"
										th:field="*{txtOfficeName}" id="txtOfficeName"
										class="texttag mandatorycontrol" value="" maxlength="500/">

										<p th:if="${#fields.hasErrors('txtOfficeName')}"
											th:class="error" th:errors="*{txtOfficeName}" /></td>
								</tr>
								<tr>
									<td><label class="captionTag" id="ZPDDOOOFFICE_DDO_CODE">DDO
											Code</label></td>
									<td><input type="text" name="txtDDOCode" id="txtDDOCode"
										th:field="*{txtDDOCode}" class="texttag disabledcontrol"
										value="" readonly maxlength="50/">

										<p th:if="${#fields.hasErrors('txtDDOCode')}" th:class="error"
											th:errors="*{txtDDOCode}" /></td>
									<td><label class="captionTag" id="ZPDDOOOFFICE_MOBILE_NO">Mobile
											No.</label>&nbsp;&nbsp;<label
										class="mandatoryindicator">*</label></td>
									<td><input type="text" name="txtMobileNo" id="txtMobileNo"
										th:field="*{txtMobileNo}" class="texttag mandatorycontrol"
										onblur="validateMobileNo();" value="" maxlength="10/">

										<p th:if="${#fields.hasErrors('txtMobileNo')}"
											th:class="error" th:errors="*{txtMobileNo}" /></td>
								</tr>
								<tr>
									<td><label class="captionTag" id="ZPDDOOOFFICE_EMAIL_ID">Email
											Id</label>&nbsp;&nbsp;<label
										class="mandatoryindicator">*</label></td>
									<td><input type="text" name="txtEmailId" id="txtEmailId"
										th:field="*{txtEmailId}" class="texttag mandatorycontrol"
										value="" maxlength="100/">

										<p th:if="${#fields.hasErrors('txtEmailId')}" th:class="error"
											th:errors="*{txtEmailId}" /></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
								</tr>

							</tbody>
						</table>
						<div class="text-center">
							<input type="submit" name="btnSave" id="btnSave" value="Save"
								class="buttontag"> <input type="button" name="btnCancel"
								onclick="history.back()" id="btnCancel" value="Cancel"
								class="buttontag">
						</div>

					</div>

				</form>

			</div>
		</div>
	</div>

	<div th:replace="header/menuHeader :: varmenufooter"></div>
	<script th:src="@{/js/hte/create-admin-office.js}"></script>
	<script th:src="@{/js/jquery.validate.min.js}"></script>
</body>
</html>