<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{msg.thymeleaf.pageheading.addRole}"></title>
<style type="text/css">
.error {
	color: red !important;
	font-size: 12px !important;
}

select.error, textarea.error, input.error {
	border: 1px solid red !important;
}
</style>
</head>
<body class="mst-Role">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>

	<div class="container min-height-600">
	<div class="breadcrumbMain">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
				<!--   <li class="breadcrumb-item homelinkbd"><a href="#">Home</a></li> -->
				    <li class="breadcrumb-item"><a href="#"><span  th:utext="#{msg.thymeleaf.pagelabel.masterBD}"></span></a></li>
				    <li class="breadcrumb-item active" aria-current="page"><span th:utext="#{msg.thymeleaf.pageheading.addRole}"></span></li>
				  </ol>
				</nav>
			</div>
			<h3 Class="PageHeading"><span th:utext="#{msg.thymeleaf.pageheading.addRole}"></span></h3>
		<div align="center" class="success">
			<span th:utext="${message}"></span>
		</div>
		<!-- <div th:if="${savedSuccessfully.value} eq 'SAVED'">
			<p>Saved Successfully !</p>
		</div> -->
		<fieldset class="container">
		<!-- <legend th:utext="#{msg.thymeleaf.pageheading.addRole}" th:style="${'color: orange;'}"></legend> -->
		
<!-- 		<h1 th:utext="#{common.label.title}"></h1> -->
		
		<form class="form-horizontal" th:action="@{/developer/editRoleSave}"
			th:object="${mstRoleEntity}" method="POST" name="mstRole" enctype="multipart/form-data">
			
			<input type="hidden" name="language" id="language" th:value="${language}"/>
			 <input type="hidden" name="Id" id="Id" th:field="*{Id}"/> 
			<input type="hidden" name="roleId" id="roleId" th:field="*{roleId}"/>
			
			<div class="form-group">
				<label class="control-label col-sm-2" for="title" ><span th:utext="#{msg.thymeleaf.datatablelabel.RolenameEn}"></span>&nbsp;&nbsp;<b><font color="red" size="4px;">*</font></b></label>
				<div class="col-sm-3">
					 <input type="text" id="roleName" name="roleName" class="form-control checkFirstChar" style="text-transform: uppercase" th:field="*{roleName}" ></input> 
					
				</div>
				
				<!-- <label class="control-label col-sm-2" for="title" ><span th:utext="#{msg.thymeleaf.datatablelabel.RolenameMr}"></span>&nbsp;&nbsp;<b><font color="red" size="4px;">*</font></b></label>
				<div class="col-sm-2">
					<input type="text" class="form-control" th:field="*{RoleNameMr}"></input>
					<input type="text" class="form-control" ></input>
				</div> -->
				
				<label class="control-label col-sm-2" for="title" ><span th:utext="#{msg.thymeleaf.datatablelabel.Roledesc}"></span>&nbsp;&nbsp;<b><font color="red" size="4px;">*</font></b></label>
				<div class="col-sm-3">
					 <input type="text" id ="roleDescription"  class="form-control checkFirstChar" name="roleDescription" th:field="*{roleDescription}" ></input>  
					
				</div>
			</div>
			<div class="form-group">
					<label class="control-label col-sm-2" for="title"><span
						th:utext="#{msg.thymeleaf.pagelabel.status}"></span>&nbsp;&nbsp;<b><font
							color="red" size="4px;">*</font></b></label>
					<div class="col-sm-2">
						<select class="form-control" id="isActive" th:field="*{isActive}">
							<option th:value="0" th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
							<option th:value="1"  th:selected="${isActive == 1}"  th:utext="#{msg.thymeleaf.pagelabel.dropdown.active}"></option>
							<option th:value="0" th:selected="${isActive == 0}"  th:utext="#{msg.thymeleaf.pagelabel.dropdown.inactive}"></option>
						</select>
					</div>
				</div>
			
			<div class="form-group text-center">
				<hr/>
					<input type="submit" id="btnSave" class="btn btn-primary" th:value="#{msg.thymeleaf.pagelabel.btnUpdate}"/>
					<input type="reset" id="btnReset" class="btn btn-primary" th:value="#{msg.thymeleaf.pagelabel.btnReset}"/>
					<a th:href="@{/user/home}" class="btn"><span th:text="#{msg.thymeleaf.pagelabel.btnCancel}"></span></a>
			</div>
			
			<input type="hidden"  name="${_csrf.parameterName}"   value="${_csrf.token}"/>
			
			<!-- <table id="tblDataTable" class="table table-striped table-bordered"
					style="width: 100%">
					<thead>
						<tr>
							
							<th th:utext="#{msg.thymeleaf.pagelabel.sNo}"></th>
							<th
								th:utext="#{msg.thymeleaf.datatablelabel.RoleName}" class="td-data-center"></th>
							<th th:utext="#{msg.thymeleaf.datatablelabel.Roledesc}"></th>
							
							<th th:utext="#{msg.thymeleaf.datatablelabel.status}"></th>
							<th th:utext="#{msg.thymeleaf.datatablelabel.action}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="varRole : ${lstRoleTable}">
							
							<td th:text="${varRoleStat.index+1}"></td>
							<td th:text="${varRole.RoleName}" class="td-data-center"></td>
							 <td th:text="${varRole.roleDescription}"></td> 
							
							<td class="text-center"><span th:if="${varRole.isActive} == '1'"> <span
									class="label label-success"
									th:utext="#{msg.thymeleaf.status.active}"></span>
							</span> <span th:if="${varRole.isActive} =='0'"> <span
									class="label label-danger"
									th:utext="#{msg.thymeleaf.status.inactive}"></span>
							</span></td>
							<td>
								<div class="form-group text-center flex">
										<a data-toggle="tooltipEdit" title="Edit"
											th:href="@{'/admin/master/editRole/' + ${varRole.Id}}"><span
											class="glyphicon glyphicon-edit"></span></a>
										<a data-toggle="tooltipDelete" title="Delete"  
								th:href="@{'/admin/master/deleteRole/'+${varRole.RoleId}}"	class="delete"> <span	class="glyphicon glyphicon-trash "></span></a>
										
								</div>
							</td>
						</tr>
					</tbody>
					
				</table> -->
			
			
			
			
		</form>
		</fieldset>
	</div>

	<div th:replace="header/menuHeader :: varmenufooter"></div>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script th:src="@{/js/project/datatable-common.js}"></script>
	<script th:src="@{/js/project/datatable-common.js}"></script> 
			<script th:src="@{/js/jquery.validate.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
	<script th:src="@{/js/project/mst-role.js}"></script>
	<script th:src="@{/js/validated.js}"></script>
	
</body>
</html>