
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{msg.thymeleaf.pageheading.entryofposts}"></title>
</head>
<body class="entry-of-posts">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>
	<div class="container min-height-600">
		<div class="breadcrumbMain">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<!--   <li class="breadcrumb-item homelinkbd"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item"><a href="#"><span
							th:utext="#{msg.thymeleaf.pagelabel.masterBD}"></span></a></li>
					<li class="breadcrumb-item active" aria-current="page"><span
						th:utext="#{msg.thymeleaf.pageheading.entryofposts}"></span></li>
				</ol>
			</nav>
		</div>
		<h3 Class="PageHeading">
			<span th:utext="#{msg.thymeleaf.pageheading.entryofposts}"></span>
		</h3>

		<div class="formMainwithNoborTb container">

			<!-- 	<div th:if="${messageResponse!=null}"
				th:class="${messageResponse.style}">
				<strong><span th:utext="${messageResponse.response}"></span></strong>
			</div> -->

			<form method="post" action="" name="frmAdminCrtPost" th:object="${postEntryModel}"
				enctype="multipart/form-data">
				<fieldset>
					<legend>View Post Details </legend>
				</fieldset>
				<div id="tcontent1">

					<input type="hidden" name="message" id="message"
						th:value="${message}" />

					<table class="table bor-0">

						<tbody>

							<tr>
								<td width="20%" align="left">District</td>
								<td width="20%" align="left"><select name="districtId"
									class="form-control" th:field="*{districtId}" id="districtId">
										<option th:value="0"
											th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
										<option th:each="varPay : ${lstDistrict}"
											th:value="${varPay.districtId} "
											th:text="${language=='mh' ? varPay.districtName : varPay.districtName}"></option>
								</select>
								</td>
								
								<td width="20%" align="right"><b>DDO Code</b></td>
								<td width="20%">
								<select name="ddoCode" id="ddoCode">
										<option title="Select" value="-1">Select</option>
										<option th:each="filterDdoCode : ${filterDdoCode}"
											th:value="${filterDdoCode[0]}"
											th:text="${filterDdoCode[1]} + ' (' + ${filterDdoCode[0]} + ')'">
										</option>
								</select></td>
							</tr>

							<tr>
								<td colspan="5" align="center"><br /> <a
									th:href="@{/mdp/addPosts}" class="btn"> Add New Entry </a> <!-- 	<a th:href="@{/ddo/updatePosts}" class="btn">Renewal Of Post</a></td> -->
							</tr>
						</tbody>
					</table>
					<table class="table table-bordered" id="postDetails">
						<thead>
							<tr>
								<th class="datatableheader sortable">Sr. No.</th>
								<th class="datatableheader sortable">Employee Name</th>
								<th class="datatableheader">Post Name</th>
								<th class="datatableheader sortable">Post Type</th>
								<th class="datatableheader sortable">Designation</th>
								<th class="datatableheader sortable">DDO Code</th>
								<th class="datatableheader sortable">Bill Group Name</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="userPostCustomVO,rowStat : ${getPostNameForDisplay}">
								<td th:text="${rowStat.index+1}">1</td>
								<td th:text="${userPostCustomVO.empFullName}"></td>
								<td th:text="${userPostCustomVO.postname}"></td>
								<td th:text="${userPostCustomVO.postType}"></td>
								<td th:text="${userPostCustomVO.dsgnname}"></td>
								<td th:text="${userPostCustomVO.ddoCode}"></td>
								<td th:text="${userPostCustomVO.billNo}"></td>
							</tr>

						</tbody>
					</table>
				</div>

			</form>
		</div>
	</div>

	<div th:replace="header/menuHeader :: varmenufooter"></div>

	<script th:src="@{/js/hte/entry-post.js}"></script>
	<script th:src="@{/js/jquery.validate.min.js}"></script>

</body>
</html>