<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{msg.thymeleaf.pageheading.Level3ApprovalForm1}"></title>
<style>
</style>
</head>
<body class="level3-approval-form1">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>
	<div class="container min-height-600">
		<div class="breadcrumbMain">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#"><span
							th:utext="#{msg.thymeleaf.pagelabel.dcpsBD}"></span></a></li>
					<li class="breadcrumb-item active" aria-current="page"><span
						th:utext="#{msg.thymeleaf.pageheading.Level3ApprovalForm1}"></span></li>
				</ol>
			</nav>
		</div>
		<h3 class="PageHeading">
			<span th:utext="#{msg.thymeleaf.pageheading.Level3ApprovalForm1}"></span>
		</h3>
		<div class="level3-approval-form1-main container">
			<fieldset>
				<legend>
					<b>Filter By DDO</b>
				</legend>
				<table class="table bor-0 width-60">
					<tbody>
						<tr>
							<td>Reporting DDO Code</td>
							<td><select name="reptDdoCode" id="reptDdoCode">
									<option value="0">Select</option>
									<option th:each="varempdtls : ${employeedetails}" th:value="${varempdtls.reptDdoCode}" th:text="${varempdtls.reptDdoCode}">Select</option>
								
							</select>
							</td>
						</tr>
						<tr>
							<td>Assistant DDO Code</td>
							<td><select name="ddoCode" id="ddoCode">
									<option value="0">Select</option>
									
							</select></td>
						</tr>
						<tr>
							<td colspan="2" align="center"><input type="button"
								value="Filter" name="btnFilter" class="btn"></td>
						</tr>
					</tbody>
				</table>
			</fieldset>
			<hr />
			<fieldset>
				<legend>
					<b>All Employee Details</b>
				</legend>
				<table class="table table-hover table-bordered">
				
				
				<thead>
					<tr style="text-align: center;">
						<th th:utext="#{msg.thymeleaf.pagelabel.srno}"
							style="text-align: center;"></th>

						<th th:utext="#{msg.thymeleaf.pagelabel.employeeName}"
							style="text-align: center;"></th>
							
						<th th:utext="#{msg.thymeleaf.pagelabel.sevaarthId}"
							style="text-align: center;"></th>
							
						<th th:utext="#{msg.thymeleaf.pagelabel.empstadob}"
							style="text-align: center;"></th>
							
							
						<th th:utext="#{msg.thymeleaf.pagelabel.gender}"
							style="text-align: center;"></th>
							
								<th th:utext="#{msg.thymeleaf.pagelabel.designationName}"
							style="text-align: center;"></th>

						<th th:utext="#{msg.thymeleaf.datatablelabel.ddocode}"
							style="text-align: center;"></th>
							
							
						<th th:utext="#{msg.thymeleaf.pagelabel.level2}"
							style="text-align: center;"></th>


						<th th:utext="#{msg.thymeleaf.datatablelabel.action}"
							style="text-align: center;"></th>
					</tr>
				</thead>
				<tbody>

				<tbody>
					<tr th:each="varempdtls : ${employeedetails}">
						<td th:text="${varempdtlsStat.index+1}"></td>
						<td th:text="${varempdtls.employeeFullName}"></td>
						<td th:text="${varempdtls.sevaarthId}"></td>
						<td th:text="${#dates.format(varempdtls.dob, 'dd-MM-yyyy')}"></td>

					    <td th:text="${varempdtls.gender == 'Y' ? 'Male' : 'Female'}"></td>

						<td th:text="${varempdtls.designationName}"></td>
						<td th:text="${varempdtls.ddoCode}"></td>
						<td th:text="${varempdtls.reptDdoCode}"></td>
						<td>
							<div class="form-group text-center">
								<a data-toggle="tooltip" title="Edit"
									th:onclick="|editempconfig(${varempdtls.employeeId})|"> <span
									class="glyphicon glyphicon-edit"></span>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
				</table>
			</fieldset>
		</div>

	</div>
	</div>

	<div th:replace="header/menuHeader :: varmenufooter"></div>

</body>
</html>