<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{msg.thymeleaf.pageheading.loanMaster}"></title>
<style type="text/css">
</style>
</head>
<body class="loan-master">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>
	<div class="container min-height-600">
		<div class="breadcrumbMain">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<!--   <li class="breadcrumb-item homelinkbd"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item"><a href="#"><span
							th:utext="#{msg.thymeleaf.pagelabel.dcpsBD}"></span></a></li>
					<li class="breadcrumb-item active" aria-current="page"><span
						th:utext="#{msg.thymeleaf.pageheading.loanMaster}"></span></li>
				</ol>
			</nav>
		</div>
		<h3 Class="PageHeading">
			<span th:utext="#{msg.thymeleaf.pageheading.loanMaster}"></span>
		</h3>

		<div class="formMainwithNoborTb container">
			<div id="content">
				<form method="POST" name="loanMstView" action="">
					<br>&nbsp; <a th:href="@{/mdc/insertLoanMaster}" class="btn">
						Add New Entry </a> <br> <br>
					<table class="datatable table table-bordered" style="width: 100%"
						id="row">
						<thead>
							<tr>
								<th class="datatableheader">Loan Id</th>
								<th class="datatableheader">Loan Name</th>
							</tr>
						</thead>
						<tbody>
							<tr class="odd">
								<td class="tablecelltext"
									style="text-align: center; font-size: 12px;">74</td>
								<td class="tablecelltext"
									style="text-align: center; font-size: 12px;"><a href="">Co.Hsg.Soc
										Int </a></td>
							</tr>
							<tr class="even">
								<td class="tablecelltext"
									style="text-align: center; font-size: 12px;">61</td>
								<td class="tablecelltext"
									style="text-align: center; font-size: 12px;"><a href="">Co.Hsg.Soc(Govt)
										Loan </a></td>
							</tr>
							<tr class="odd">
								<td class="tablecelltext"
									style="text-align: center; font-size: 12px;">66</td>
								<td class="tablecelltext"
									style="text-align: center; font-size: 12px;"><a href="">Comp
										AIS </a></td>
							</tr>
							<tr class="even">
								<td class="tablecelltext"
									style="text-align: center; font-size: 12px;">75</td>
								<td class="tablecelltext"
									style="text-align: center; font-size: 12px;"><a href="">Comp
										AIS Int </a></td>
							</tr>

						</tbody>
					</table>
					<br />
					<div class="text-center">
						<input type="button" name="btnCancel" onclick="history.back()"
							id="btnCancel" value="Cancel" size="3" maxlength="3"
							class="buttontag">
					</div>

				</form>
			</div>
		</div>
	</div>

	<div th:replace="header/menuHeader :: varmenufooter"></div>
</body>
</html>