<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{msg.thymeleaf.pageheading.printform1}"></title>
<style type="text/css">
</style>
</head>
<body class="print-form1-ddo">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>
	<div class="container min-height-600">
		<div class="breadcrumbMain">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<!--   <li class="breadcrumb-item homelinkbd"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item"><a href="#"><span
							th:utext="#{msg.thymeleaf.pagelabel.masterBD}"></span></a></li>
					<li class="breadcrumb-item active" aria-current="page"><span
						th:utext="#{msg.thymeleaf.pageheading.printform1}"></span></li>
				</ol>
			</nav>
		</div>
		<h3 Class="PageHeading">
			<span th:utext="#{msg.thymeleaf.pageheading.printform1}"></span>
		</h3>

		<div class="formMainwithNoborTb container">
			<fieldset>
				<legend>
					<b>Form Status Of All Employees</b>
				</legend>
				<table class="table table-bordered table-striped" id="datatableNew">
					<thead>
						<tr>
							<th>Sr. No.</th>
							<th>Employee Name</th>
							<th>Designation</th>
							<th>Institution</th>
							<th>Gender:</th>
							<th>Date Of Birth</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="text-align: center;">1</td>
							<td><a href="#">BALAJI GANGADHAR UREKAR</a></td>
							<td>Assistant Professor</td>
							<td>Kai. Babasaheb GorthekarMahavidyalaya Umri Dist. Nanded</td>
							<td>M</td>
							<td>12/12/1991</td>
							<td>Pending with DDO</td>
						</tr>
						<tr>
							<td style="text-align: center;">2</td>
							<td><a href="#">BALASHEB NARAYANRAO CHORMALE</a></td>
							<td>Peon</td>
							<td>Ramesh Warpudkar Mahavidyalaya Sonpeth Dist Parbhani</td>
							<td>M</td>
							<td>02/03/1960</td>
							<td>Rejected</td>
						</tr>
						<tr>
							<td style="text-align: center;">3</td>
							<td><a href="#">CHANDRAKANT BHIVAJI DHAWALE</a></td>
							<td>Laboratory Attendant</td>
							<td>Digambarrao Bindu Arts and Commerce College, Bhokar
								Dist. Nanded</td>
							<td>M</td>
							<td>25/12/1982</td>
							<td>Rejected</td>
						</tr>
						<tr>
							<td style="text-align: center;">4</td>
							<td><a href="#">DEVRAO HARIDAS BODKHE</a></td>
							<td>Assistant Professor</td>
							<td>Shri Datta Arts, Commerce and Science College, Hadgaon
								Dist. Nanded</td>
							<td>M</td>
							<td>16/06/1987</td>
							<td>Draft(with DDO Assistant)</td>
						</tr>

					</tbody>
				</table>
			</fieldset>
			<br />
			<div class="text-center">
				<input type="button" name="btnCancel" onclick="history.back()"
					id="btnCancel" value="Cancel" size="3" maxlength="3"
					class="buttontag">
			</div>

		</div>
	</div>

	<div th:replace="header/menuHeader :: varmenufooter"></div>
</body>
</html>