<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Under Construction Page</title>
</head>
<body>
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>
	<div align="center"> 
		<p class="error" th:text="${sessionExpMessageMsg}"></p>
		
		<p><a th:href="@{/user/login}">Click to login again</a></p>
	</div>
	<div th:replace="header/menuHeader :: varmenufooter"></div>
</body>
</html>