<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{menu.mapping.payBillViewApprDelBill}"></title>
<style>
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc,
	table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc,
	table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting
	{
	padding-right: inherit !important;
}

@media print {
	@page {
		size: landscape;
	}
}
</style>
<script type="text/javascript">
	//Inner report method started
	function showinnerreport(billNumber,element) {
		var billnm = billNumber;
		var ddoCode = "1";
		
		   billNumber = $(element). data('bill-number'); 
		   billNumber = $(element). data('bill-number'); 

		$("#loaderMainNew").show();

		$
				.ajax({
					type : "GET",
					url : "../ddoast/getinnerreport/" + billNumber + "/" + 1
							+ "/" + 1 + "/" + ddoCode,
					async : true,
					contentType : 'application/json',
					error : function(data) {
						alert("error");
						console.log(data);
					},
					success : function(data) {
						$("#loaderMainNew").hide();
						var urlstyle = 'height=600,width=1400,toolbar=no,minimize=yes,resizable=yes,header=no,status=no,menubar=no,directories=no,fullscreen=no,location=no,scrollbars=yes,top=20,left=200';
						var win = window.open("", "", urlstyle);
						win.document.write(data);
						win.focus();

						// self.close();

					}
				});
	}
	// inner report method ended
</script>
</head>
<body class="paybill-view-approve-delete-bill">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>

	<div class="container min-height-600">
		<div class="breadcrumbMain">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<!--   <li class="breadcrumb-item homelinkbd"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item"><a href="#"><span
							th:utext="#{msg.thymeleaf.pagelabel.TransactionBD}"></span></a></li>
					<li class="breadcrumb-item active" aria-current="page"><span
						th:utext="#{menu.mapping.payBillViewApprDelBill}"></span></li>
				</ol>
			</nav>
		</div>
		<h3 Class="PageHeading">
			<span th:utext="#{menu.mapping.payBillViewApprDelBill}"></span>
		</h3>
		<fieldset class="container">
			<!-- <legend th:utext="#{menu.mapping.payBillViewApprDelBill}"
				th:style="${'color: orange;'}"></legend> -->

			<form class="form-horizontal" id="viewPaybillFrm"
				th:action="@{${levelRoleVal == 3 ? '/ddoast/payBillViewApprDelBill' : '/ddo/payBillViewApprDelBill'}}"
				th:object="${payBillViewApprDelBillModel}" method="POST"
				enctype="multipart/form-data">
				<!--  -->

				<input type="hidden" name="language" id="language"
					th:value="${language}" /> <input type="hidden" name="message"
					id="message" th:value="${message}" /> <input type="hidden"
					name="radioval" id="radioval" /> <input type="hidden"
					name="gotMonthName" id="gotMonthName" th:value="${gotMonthName}" />
				<input type="hidden" name="roleId" id="roleId" th:value="${roleId}" />
				<input type="hidden" name="ddoCode" id="ddoCode"
					th:value="${ddoCode}" /> <input type="hidden" name="userId"
					id="userId" th:value="${userId}" /> <input type="hidden"
					name="action" id="action" th:field="*{action}" /> <input
					type="hidden" name="test" id="test"
					th:value="${lstGenerateBillDetails}" />

				<div class="form-group">
					<label class="control-label col-sm-2" for="title"><span
						th:utext="#{msg.thymeleaf.pagelabel.selectmonth}"></span></label>
					<div class="col-sm-2">
						<select class="form-control" th:field="*{monthName}"
							id="monthName" name="monthName">
							<option selected="selected" th:value="0"
								th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
							<option th:each="varMonth : ${lstMonths}"
								th:value="${varMonth.monthId}"
								th:text="${language=='mh' ? varMonth.monthMarathi : varMonth.monthEnglish}"></option>
						</select>
					</div>
					<label class="control-label col-sm-2" for="title"><span
						th:utext="#{msg.thymeleaf.pagelabel.selectyear}"></span></label>
					<div class="col-sm-2">
						<select class="form-control" th:field="*{yearName}" id="yearName"
							name="yearName">
							<option selected="selected" th:value="0"
								th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
							<option th:each="varYear : ${lstYears}"
								th:value="${varYear.yearId}"
								th:text="${language=='mh' ? varYear.yearMarathi : varYear.yearEnglish}"></option>
						</select>
					</div>

					<label class="control-label col-sm-2" for="title"><span
						th:utext="#{msg.thymeleaf.pagelabel.billNumber}"></span></label>
					<div class="col-sm-2">
						<select class="form-control" th:field="*{billNumber}"
							id="billNumber">
							<option selected="selected" th:value="0" th:data="0"
								th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
							<option th:each="varSchemeBillGroup : ${lstSchemeBillGroup}"
								th:value="${varSchemeBillGroup.dcpsDdoBillGroupId}"
								th:data="${varSchemeBillGroup.dcpsDdoBillGroupId}"
								th:text="${language=='mh' ? varSchemeBillGroup.description : varSchemeBillGroup.description}"></option>
						</select>


					</div>
				</div>

				<div class="form-group text-center">
					<input type="button" id="btnSearch" class="btn btn-primary"
						th:value="#{msg.thymeleaf.pagelabel.btnSearch}" />
				</div>

				<hr />

				<table id="tblShowPayBill"  
					class="table table-striped table-bordered" style="width: 100%">
					<thead>
						<tr>
							<th th:utext="#{msg.thymeleaf.pagelabel.checkbox}" />
							<th th:utext="#{msg.thymeleaf.pagelabel.chngStatmBillDetails}" />
							<th th:utext="#{msg.thymeleaf.pagelabel.payBillDetails}" />
							<th th:utext="#{msg.thymeleaf.pagelabel.billDesc}" />
							<th th:utext="#{msg.thymeleaf.pagelabel.schemeCode}" />
							<th th:utext="#{msg.thymeleaf.pagelabel.schemeName}" />
							<!-- <th th:utext="#{msg.thymeleaf.pagelabel.subSchemeCode}" /> -->
							<th th:utext="#{msg.thymeleaf.pagelabel.noOfEmployee}" />
							<th th:utext="#{msg.thymeleaf.pagelabel.grossAmount}" />
							<th th:utext="#{msg.thymeleaf.pagelabel.netAmount}" />
							<th th:utext="#{msg.thymeleaf.pagelabel.rtgs}" />
							<th th:utext="#{msg.thymeleaf.pagelabel.status}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="varBillGrp : ${lstGenerateBillDetails}">
							<td class="text-center"><input type="radio" name="paybillId"
								class="generatedChkId"
								th:value="${varBillGrp.paybillGenerationTrnId}"
								th:data="${varBillGrp.isActive}" /></td>


							<!-- here highlight the change statment -->
							<span
								th:if="${varBillGrp.isActive} == 1 OR ${varBillGrp.isActive}==2 OR  ${varBillGrp.isActive}==3
								OR ${varBillGrp.isActive}==4 OR ${varBillGrp.isActive}==5 OR ${varBillGrp.isActive}==6
								OR ${varBillGrp.isActive}==7 OR ${varBillGrp.isActive}==8 OR ${varBillGrp.isActive}==9 OR ${varBillGrp.isActive}==10
								OR ${varBillGrp.isActive}==11 OR ${varBillGrp.isActive}==12  OR ${varBillGrp.isActive}==13 OR ${varBillGrp.isActive}==14 OR ${varBillGrp.isActive}==15">

								<td><a class="paybillGenerationTrnId" 
									th:text=${varBillGrp.paybillGenerationTrnId}></a></td>
							</span>



							<!-- here  not highlight the change statment -->
							<span
								th:if="${varBillGrp.isActive} != 1 AND  ${varBillGrp.isActive} !=2 AND  ${varBillGrp.isActive} !=3
								AND ${varBillGrp.isActive}!=4 AND ${varBillGrp.isActive}!=5 AND ${varBillGrp.isActive}!=6
								AND ${varBillGrp.isActive}!=7 AND ${varBillGrp.isActive}!=8 AND ${varBillGrp.isActive}!=9 AND ${varBillGrp.isActive}!=10
								AND ${varBillGrp.isActive}!=11 AND ${varBillGrp.isActive}!=12  AND ${varBillGrp.isActive}!=13 AND ${varBillGrp.isActive}!=14 AND ${varBillGrp.isActive}!=15 "><td
								th:text="${varBillGrp.paybillGenerationTrnId}"></td></span>



							<!-- here highlight the inner report -->
							<span
								th:if="${varBillGrp.isActive} == 5 OR ${varBillGrp.isActive} == 6 OR ${varBillGrp.isActive}==7 OR ${varBillGrp.isActive}==8 OR ${varBillGrp.isActive}==9 OR ${varBillGrp.isActive}==10
								OR ${varBillGrp.isActive}==11 OR ${varBillGrp.isActive}==12  OR ${varBillGrp.isActive}==13 OR ${varBillGrp.isActive}==14 OR ${varBillGrp.isActive}==15">
								<td><a class="showinneRreport"
									th:data-bill-number=${varBillGrp.paybillGenerationTrnId}
									th:text=${varBillGrp.paybillGenerationTrnId}></a></td>
							</span>



							<!-- here not highlight the inner report -->
							<span
								th:if="${varBillGrp.isActive} == 1 OR  ${varBillGrp.isActive} ==2 OR  ${varBillGrp.isActive} ==3
								OR ${varBillGrp.isActive}==4 "><td
								th:text="${varBillGrp.paybillGenerationTrnId}"></td></span>



							<td th:text="${varBillGrp.billDescription}"></td>
							<td th:text="${varBillGrp.schemeCode}"></td>
							<td th:text="${varBillGrp.schemeName}"></td>
							<td th:text="${varBillGrp.noOfEmployee}"></td>
							<td class="text-right" th:text="${varBillGrp.billGrossAmt}"></td>
							<td class="text-right" th:text="${varBillGrp.billNetAmt}"></td>
							<!-- <td th:text="${varBillGrp.authno}"></td>
							<td th:text="${varBillGrp.authno}">
							<a  target='_blank' th:href="${'/MJP/paybill/downloadAuthPdf/'+${varBillGrp.authno}}" th:text="${varBillGrp.authno}" ></a></td> -->
							<!-- <td><a class="collapse-item" target='_blank'
								th:href="@{'/paybill/downloadAuthPdf/'+${varBillGrp.authno}}"><span
									th:text="${varBillGrp.authno}"></span></a></td> -->
							<td><a class="collapse-item" target='_blank'
								th:href="@{'/level1/paybillGenerationTrnId/'+${varBillGrp.paybillGenerationTrnId}}"><span
									th:text="${varBillGrp.paybillGenerationTrnId}"></span></a></td>

							<td class="text-cenetr"><span
								th:if="${varBillGrp.isActive} == 5"> <span
									class="label label-success text-center"
									th:utext="#{msg.thymeleaf.generatePaybill}"></span>
							</span> <span th:if="${varBillGrp.isActive} ==6"> <span
									class="label label-success text-center"
									th:utext="#{msg.thymeleaf.generatePaybillForwarded}"></span>
							</span> <span th:if="${varBillGrp.isActive} ==7"> <span
									class="label label-success text-center"
									th:utext="#{msg.thymeleaf.billRejected}"></span>
							</span> <span th:if="${varBillGrp.isActive} ==8"> <span
									class="label label-success text-center"
									th:utext="#{msg.thymeleaf.billDeleted}"></span>
							</span> <span th:if="${varBillGrp.isActive} ==9"> <span
									class="label label-success text-center">Consolidated
										Paybill</span>
							</span> <span th:if="${varBillGrp.isActive} ==10"> <span
									class="label label-success text-center">Paybill Forward</span>
							</span> <span th:if="${varBillGrp.isActive} ==11"> <span
									class="label label-success text-center">Consolidate
										Paybill Approved</span>
							</span> <span th:if="${varBillGrp.isActive} ==12"> <span
									class="label label-danger text-center">Paybill Rejected</span>
							</span> <span th:if="${varBillGrp.isActive} ==13"> <span
									class="label label-success text-center"
									th:utext="#{msg.thymeleaf.pagelabel.consolatedDelete}"></span>
							</span> <span th:if="${varBillGrp.isActive} ==14"> <span
									class="label label-success text-center"
									th:utext="#{msg.thymeleaf.pagelabel.consolatedApproved}">Voucher
										Entry Done</span>
							</span></td>


							<!-- <td><textarea class="form-control" rows="2" cols="2" id="txtAreaRemarks"></textarea></td> -->
							<!-- <td>
								<div class="form-group">
									<div class="col-sm-offset-1 col-sm-1">
										<a data-toggle="tooltip" title="Edit"
											th:href="@{'/master/editCadre/' + ${varBillGrp.cadreId}}"><span
											class="glyphicon glyphicon-edit"></span></a>
									</div>
									<div class="col-sm-offset-1 col-sm-1">
										<a data-toggle="tooltip" title="Delete"
											th:onclick="${'ConfirmDeleteRecord('+varBillGrp.cadreId+','+varBillGrp.isActive+');'}">
											<span class="glyphicon glyphicon-trash"></span>
										</a>
									</div>
								</div>
							</td> -->
						</tr>
					</tbody>
				</table>
			

				<div class="text-center">
					 	<input type="button" value="Forward Change Statement" class="btn btn-primary" id="btnForwardChangeStatment" />
					 	
				 <input type="button" value="Generate Paybill" class="btn btn-primary" id="btnForwardBill" />  
					
					
						
						<input type="button"
						value="Forward PayBill To DDO" class="btn btn-primary"
						id="btnForwardBillToLevel2" />
						
						
						<!-- 	<input
						type="button" value="Forward PayBill To Beams"
						class="btn btn-primary" id="btnForwardBillToBeams" /> -->
						
						
						 <input type="button"
						value="Delete Bill" class="btn btn-primary" id="btnDeleteBill" />
						
						
					<input type="button" value="Voucher Entry" class="btn btn-primary"
						id="btnVoucherEntry" data-toggle="modal" data-target="#myModal" />
					<!-- <input type="reset" id="btnReset" class="btn btn-primary"
						th:value="#{msg.thymeleaf.pagelabel.btnReset}" /> -->
					<a th:href="@{/user/home}" class="btn"><span
						th:text="#{msg.thymeleaf.pagelabel.btnCancel}"></span></a>

				</div>

			</form>
		</fieldset>

		<div class="container">

			<!-- Modal -->
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Voucher Entry</h4>
						</div>
						<div class="modal-body">
							<table class="table table-bordered">
								<tr>
									<td width="15%"><label><span>Voucher Number</span>&nbsp;&nbsp;</label></td>
									<td width="30%"><input type="text" size="40%"
										id="voucherNo" class="form-control" /></td>
									<td width="15%"><label><span>Voucher Date</span>&nbsp;&nbsp;</label></td>
									<td width="30%"><input type="date" size="40%"
										id="voucherDate" name="voucherDate" class="form-control" /></td>
								</tr>
								<tr>
									<td width="15%"><label><span>Cheque No</span>&nbsp;&nbsp;</label></td>
									<td width="30%"><input type="text" size="40%" id="chqNo"
										name="chqNo" class="form-control" /></td>
									<td width="15%"><label><span>Cheque Date</span>&nbsp;&nbsp;</label></td>
									<td width="30%"><input type="date" size="40%" id="chqDate"
										name="chqDate" class="form-control" /></td>
								</tr>
								<tr>
									<td width="15%"><label><span>Account No</span>&nbsp;&nbsp;</label></td>
									<td width="30%"><input type="text" size="40%" id="accNo"
										name="accNo" class="form-control number" /></td>
									<td width="15%"><label><span>IFSC Code</span>&nbsp;&nbsp;</label></td>
									<td width="30%"><input type="text" size="40%"
										id="ifscCode" name="ifscCode" class="form-control" /></td>
								</tr>
							</table>

						</div>
						<div class="modal-footer">
							<input type="button" value="Close" class="btn btn-default"
								data-dismiss="modal" id="btnClose" /> <input type="button"
								value="Save" class="btn btn-primary" data-dismiss="modal"
								id="btnUpdate" />
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
	<div th:replace="header/menuHeader :: varmenufooter"></div>
	<script th:src="@{/js/project/datatable-common.js}"></script>
	<script th:src="@{/js/project/paybill-view-approve-delete-bill.js}"></script>
	<script>
		/*  $(document).ready(function() {
		$('#btnUpdate').click(function () {
			alert("clicked br")
			  $("#btnUpdate").attr("disabled", true); 
			});
		}); */
	</script>
	<!-- <script>
			//$('#tblShowPayBill').DataTable();
		$(document).ready(function () {
		   
	    });
	</script> -->

</body>
</html>