<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{menu.mapping.viewDeleteConsolidatedPayBill}"></title>
</head>
<body class="view-delete-consolidated-paybill">
	<div th:replace="header/menuHeader :: var-script-header"></div>
	<div th:replace="header/menuHeader :: varmenuheader"></div>
	<div class="container min-height-600">
		<div class="breadcrumbMain">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<!--   <li class="breadcrumb-item homelinkbd"><a href="#">Home</a></li> -->
					<li class="breadcrumb-item"><a href="#"><span
							th:utext="#{msg.thymeleaf.pagelabel.TransactionBD}"></span></a></li>
					<li class="breadcrumb-item active" aria-current="page"><span
						th:utext="#{menu.mapping.viewDeleteConsolidatedPayBill}"></span></li>
				</ol>
			</nav>
		</div>
		<h3 Class="PageHeading">
			<span th:utext="#{menu.mapping.viewDeleteConsolidatedPayBill}"></span>
		</h3>
		<fieldset class="container">
			<!-- <legend th:utext="#{menu.mapping.viewDeleteConsolidatedPayBill}"
				th:style="${'color: orange;'}"></legend> -->

			<form class="form-horizontal"
				th:action="@{/ddo/beams/frwdbilldatabeams}"
				th:object="${consolidatePayBillModel}" method="POST"
				enctype="multipart/form-data">
				<!-- th:action="@{/master/saveBillGrpMain}" -->

				<input type="hidden" name="language" id="language"
					th:value="${language}" /> <input type="hidden" name="message"
					id="message" th:value="${message}" /> <input type="hidden"
					name="userId" id="userId" th:value="${userId}" /> <input
					type="hidden" id="consolidatedId" /> <input type="hidden"
					name="radioval" id="radioval" />


				<div class="form-group">
					<label class="control-label col-sm-2" for="title"><span
						th:utext="#{msg.thymeleaf.pagelabel.selectmonth}"></span></label>
					<div class="col-sm-2">
						<select class="form-control" th:field="*{monthName}"
							id="monthName">
							<option selected="selected" th:value="0"
								th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
							<option th:each="varMonth : ${lstMonths}"
								th:value="${varMonth.monthId}"
								th:text="${language=='mh' ? varMonth.monthMarathi : varMonth.monthEnglish}"></option>
						</select>
					</div>
					<label class="control-label col-sm-2" for="title"><span
						th:utext="#{msg.thymeleaf.pagelabel.selectyear}"></span></label>
					<div class="col-sm-2">
						<select class="form-control" th:field="*{yearName}" id="yearName">
							<option selected="selected" th:value="0"
								th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
							<option th:each="varYear : ${lstYears}"
								th:value="${varYear.yearId}"
								th:text="${language=='mh' ? varYear.yearMarathi : varYear.yearEnglish}"></option>
						</select>
					</div>
					<!-- <label class="control-label col-sm-2" for="title"><span
						th:utext="#{msg.thymeleaf.pagelabel.schemeCode}"></span></label>
					<div class="col-sm-2">
						<select class="form-control" th:field="*{schemeCode}"
							id="schemeCode">
							<option selected="selected" th:value="0"
								th:utext="#{msg.thymeleaf.dropdown.pleaseselect}"></option>
							<option th:each="varddoCode : ${lstSchemeCode}"
								th:value="${varddoCode.schemeCode}"
								th:text="${language=='mh' ? varddoCode.schemeName  +' ('+ varddoCode.schemeCode +')': varddoCode.schemeName  +' ('+ varddoCode.schemeCode +')'}"></option>
						</select>
					</div> -->
				</div>

				<div class="form-group text-center">
					<input type="button" id="btnSearch" class="btn btn-primary"
						th:value="#{msg.thymeleaf.pagelabel.btnSearch}" /> <input
						type="reset" id="btnReset" class="btn btn-primary"
						th:value="#{msg.thymeleaf.pagelabel.btnReset}" />

				</div>

				<hr />

				<!-- <table id="tblViewDelConsPayBill" class="table table-striped table-bordered"
					style="width: 100%"> -->
				<table id="tblDataTable" class="table table-striped table-bordered"
					title="Consolidated Pay Bills" style="width: 100%">
					<thead>
						<tr>
							<th th:utext="#{msg.thymeleaf.pagelabel.select}" />
							<th th:utext="#{msg.thymeleaf.pagelabel.consolitedBillIdLabel}" />
							<th th:utext="#{msg.thymeleaf.pagelabel.schemeCode}" />
							<th th:utext="#{msg.thymeleaf.pagelabel.subSchemeCode}" />
							<th th:utext="#{msg.thymeleaf.pagelabel.grossAmount}" />
							<th th:utext="#{msg.thymeleaf.pagelabel.netAmount}" />
							<th th:utext="#{msg.thymeleaf.pagelabel.authNumber}" />
							<th th:utext="#{msg.thymeleaf.pagelabel.downloadEkuberFile}" />
							<th th:utext="#{msg.thymeleaf.pagelabel.Beneficiary}" />
							<th th:utext="#{msg.thymeleaf.pagelabel.status}"></th>


						</tr>
					</thead>
					<tbody>
						<tr th:each="varBillGrp : ${LstConsolidatedPayBillModel}">
							<td><input type="radio" name="consolidatedPaywinbillTrnId"
								id="consolidatedPaybillTrnId"     
								th:value="${varBillGrp.consolidatePayBillTrnId}" th:data-status="${varBillGrp.isActive}" 
								th:data="${varBillGrp.isActive}"  class='payBillId' th:data-authNo="${varBillGrp.authNo}"   th:data-schemeCode="${varBillGrp.schemeCode}"  th:data-pid="${varBillGrp.consolidatePayBillTrnId}"    th:data-consolidatePayBillTrnId="${varBillGrp.consolidatePayBillTrnId}"   />       
						
								
								   </td>
							<td><a class="consolidatePayBillTrnId"
								th:text=${varBillGrp.consolidatePayBillTrnId}></a></td>
							<td th:text="${varBillGrp.schemeCode}"></td>
							<td th:text="${varBillGrp.schemeName}"></td>
							<td th:text="${varBillGrp.billGrossAmt}"></td>
							<td th:text="${varBillGrp.billNetAmount}"></td>

							
							 <td align="center"  class="authNo"  th:if="${varBillGrp.authNo  == null}">-</td>
							 <td align="center" th:if="${varBillGrp.authNo != null}">
						        <a href="@{${'/ddo/viewAuthSlip/'+varBillGrp.authNo}"   target="_blank"  >
						            <span th:text="${varBillGrp.authNo}"></span>
						        </a>
						    </td>
							


    <td align="center" th:if="${varBillGrp.authNo!= null and varBillGrp.eKuberCount > 0 and (varBillGrp.cmpDownloadStatus == 'EK' or varBillGrp.cmpDownloadStatus == null)}">
        <a href="#" class="downloadEkuberTextFile beneficiaryCount"  th:data-authNo="${varBillGrp.authNo}"   th:data-schemeCode="${varBillGrp.schemeCode}"   th:data-consolidatePayBillTrnId="${varBillGrp.consolidatePayBillTrnId}"  >
            <span th:text="${entry[5]}"></span>
        </a>
    </td>
    <td align="center" th:if="${varBillGrp.authNo == null or !(varBillGrp.eKuberCount > 0 and (varBillGrp.cmpDownloadStatus== 'EK' or varBillGrp.cmpDownloadStatus == null))}">0</td>


    <td th:if="${varBillGrp.cmpDownloadStatus != null and varBillGrp.eKuberCount > 0 and varBillGrp.eKuberCount > 0 and varBillGrp.cmpDownloadStatus == 'EK'}">
        <a href="#"  class="downloadEkuberJsonFile"  th:data-authNo="${varBillGrp.authNo}"   th:data-schemeCode="${varBillGrp.schemeCode}"   th:data-consolidatePayBillTrnId="${varBillGrp.consolidatePayBillTrnId}"  >
            <span th:text="${entry[8]}"></span>
        </a>
     
    </td>
       <td  th:if="${varBillGrp.cmpDownloadStatus == null or varBillGrp.eKuberCount <= 0 or !(varBillGrp.eKuberCount > 0 and varBillGrp.cmpDownloadStatus == 'EK')}">-</td>
							
							
							
							
						 <td><span th:if="${varBillGrp.isActive} ==9"> 
						<!--  <span class="label label-info text-center"	th:utext="#{msg.thymeleaf.pagelabel.consolatedPaybill}">Pending</span> -->
						 
						  <span class="label label-success text-center" th:utext="#{msg.thymeleaf.pagelabel.consolatedApprove}">
						 
							</span> <span th:if="${varBillGrp.isActive} ==10"> <span
									class="label label-warning text-center"
									th:utext="#{msg.thymeleaf.pagelabel.forwardToBeams}">Consolidated
										Paybill Forward to BEAMS</span>
							</span> <span th:if="${varBillGrp.isActive} ==11">
							 <span class="label label-success text-center" th:utext="#{msg.thymeleaf.pagelabel.consolatedApprove}">
							  
							  </span>Consolidate
									Paybill Approved
							</span>
							
							 <span th:if="${varBillGrp.isActive} ==12"> <span class="label label-danger text-center"th:utext="#{msg.thymeleaf.pagelabel.consolatedReject}">Consolidated
										Paybill Rejected by Beams</span>

							</span> <span th:if="${varBillGrp.isActive} ==13"> <span
									class="label label-danger text-center"
									th:utext="#{msg.thymeleaf.pagelabel.consolatedDelete}"></span>
							</span> <span th:if="${varBillGrp.isActive} ==14"> <span
									class="label label-danger text-center"
									th:utext="#{msg.thymeleaf.pagelabel.consolatedApproved}"></span>
									Voucher Entry Done
							</span></td>


						</tr>
						
					</tbody>
				</table>
				<div class="text-center">
					<span><input type="button" value="Delete"
						class="btn btn-primary" id="btnDeleteBill" />
						</span>
					&nbsp;&nbsp;
					 <span>
					 <input type="button" value="View Details" class="btn btn-primary"
						id="btnViewDetails" />
						</span>
						
					&nbsp;&nbsp; <span><input type="button"
						value="Abstract Report" class="btn btn-primary"
						id="btnAbstractReport" /></span> &nbsp;&nbsp; 
						
						
						<span>
						<input type="button" value="Forward Bills to BEAMS"
						class="btn btn-primary" id="btnForwardToBeams" />
					</span>
					&nbsp;&nbsp;
					<a th:href="@{/user/home}" class="btn"><span
						th:text="#{msg.thymeleaf.pagelabel.btnCancel}"></span></a>
				</div>
			</form>
		</fieldset>

	</div>

	<div th:replace="header/menuHeader :: varmenufooter"></div>
	<script th:src="@{/js/project/datatable-common.js}"></script>
	<script th:src="@{/js/project/view-delete-consolidated-paybill.js}"></script>
	<!-- <script th:src="@{/js/project/ForwardToBeams.js}"></script> -->

</body>
</html>